

/*========== White Color =========*/

.white-color {
    color: $white-color;
}
.white-variant {
    color: $white-variant;
}
.white-light {
    color: $white-light;
}


.bg-white-color {
    background-color: $white-color;
}
.bg-white-variant {
    background-color: $white-variant;
}
.bg-white-light {
    background-color: $white-light;
}




/*========== Dark Color =========*/

.dark-color {
    color: $dark-color;
}
.dark-variant {
    color: $dark-variant;
}
.dark-light {
    color: $dark-light;
}


.bg-dark-color {
    background-color: $dark-color;
}
.bg-dark-variant {
    background-color: $dark-variant;
}
.bg-dark-light {
    background-color: $dark-light;
}




/*========== Gray Color =========*/

.gray-1 {
    color: $gray-1;
}
.gray-2 {
    color: $gray-2;
}
.gray-3 {
    color: $gray-3;
}
.gray-4 {
    color: $gray-4;
}


.bg-gray-1 {
    background-color: $gray-1;
}
.bg-gray-2 {
    background-color: $gray-2;
}
.bg-gray-3 {
    background-color: $gray-3;
}
.bg-gray-4 {
    background-color: $gray-4;
}



/*========== Primary Shades Color =========*/

.primary-1 {
    color: $primary-shades-1;
}
.primary-2 {
    color: $primary-shades-2;
}
.primary-3 {
    color: $primary-shades-3;
}
.primary-4 {
    color: $primary-shades-4;
}
.primary-5 {
    color: $primary-shades-5;
}
.primary-6 {
    color: $primary-shades-6;
}
.primary-7 {
    color: $primary-shades-7;
}


.bg-primary-1 {
    background-color: $primary-shades-1;
}
.bg-primary-2 {
    background-color: $primary-shades-2;
}
.bg-primary-3 {
    background-color: $primary-shades-3;
}
.bg-primary-4 {
    background-color: $primary-shades-4;
}
.bg-primary-5 {
    background-color: $primary-shades-5;
}
.bg-primary-6 {
    background-color: $primary-shades-6;
}
.bg-primary-7 {
    background-color: $primary-shades-7;
}



/*========== Primary Color =========*/

.primary-color {
    color: $primary-color;
}
.primary-variant {
    color: $primary-variant;
}
.primary-light {
    color: $primary-light;
}


.bg-primary-color {
    background-color: $primary-color;
}
.bg-primary-variant {
    background-color: $primary-variant;
}
.bg-primary-light {
    background-color: $primary-light;
}



/*========== Secondary 1 Color =========*/

.secondary-1-color {
    color: $secondary-1-color;
}
.secondary-1-variant {
    color: $secondary-1-variant;
}
.secondary-1-light {
    color: $secondary-1-light;
}


.bg-secondary-1-color {
    background-color: $secondary-1-color;
}
.bg-secondary-1-variant {
    background-color: $secondary-1-variant;
}
.bg-secondary-1-light {
    background-color: $secondary-1-light;
}




/*========== Secondary 2 Color =========*/

.secondary-2-color {
    color: $secondary-2-color;
}
.secondary-2-variant {
    color: $secondary-2-variant;
}
.secondary-2-light {
    color: $secondary-2-light;
}


.bg-secondary-2-color {
    background-color: $secondary-2-color;
}
.bg-secondary-2-variant {
    background-color: $secondary-2-variant;
}
.bg-secondary-2-light {
    background-color: $secondary-2-light;
}




/*========== Secondary 3 Color =========*/

.secondary-3-color {
    color: $secondary-3-color;
}
.secondary-3-variant {
    color: $secondary-3-variant;
}
.secondary-3-light {
    color: $secondary-3-light;
}


.bg-secondary-3-color {
    background-color: $secondary-3-color;
}
.bg-secondary-3-variant {
    background-color: $secondary-3-variant;
}
.bg-secondary-3-light {
    background-color: $secondary-3-light;
}




/*========== Success Color =========*/

.success-color {
    color: $success-color;
}
.success-variant {
    color: $success-variant;
}
.success-light {
    color: $success-light;
}


.bg-success-color {
    background-color: $success-color;
}
.bg-success-variant {
    background-color: $success-variant;
}
.bg-success-light {
    background-color: $success-light;
}




/*========== Info Color =========*/

.info-color {
    color: $info-color;
}
.info-variant {
    color: $info-variant;
}
.info-light {
    color: $info-light;
}


.bg-info-color {
    background-color: $info-color;
}
.bg-info-variant {
    background-color: $info-variant;
}
.bg-info-light {
    background-color: $info-light;
}




/*========== Caution Color =========*/

.caution-color {
    color: $caution-color;
}
.caution-variant {
    color: $caution-variant;
}
.caution-light {
    color: $caution-light;
}


.bg-caution-color {
    background-color: $caution-color;
}
.bg-caution-variant {
    background-color: $caution-variant;
}
.bg-caution-light {
    background-color: $success-light;
}




/*========== Error Color =========*/

.error-color {
    color: $error-color;
}
.error-variant {
    color: $error-variant;
}
.error-light {
    color: $error-light;
}


.bg-error-color {
    background-color: $error-color;
}
.bg-error-variant {
    background-color: $error-variant;
}
.bg-error-light {
    background-color: $error-light;
}



/*========== Primary Gradients Color =========*/ 

.primary-gradient-1{
    background: linear-gradient($primary-color 0%, $primary-variant 100%);
    background: -o-linear-gradient($primary-color 0%, $primary-variant 100%);
    background: linear-gradient($primary-color 0%, $primary-variant 100%);
}
.primary-gradient-2{
    background: -webkit-linear-gradient($primary-color 0%, $primary-light 100%);
    background: -o-linear-gradient($primary-color 0%, $primary-light 100%);
    background: linear-gradient($primary-color 0%, $primary-light 100%);
}
.primary-gradient-3{
    background: -webkit-linear-gradient($primary-color 0%, $secondary-1-color 100%);
    background: -o-linear-gradient($primary-color 0%, $secondary-1-color 100%);
    background: linear-gradient($primary-color 0%, $secondary-1-color 100%);
}
.primary-gradient-4{
    background: -webkit-linear-gradient($primary-color 0%, $secondary-2-color 100%);
    background: -o-linear-gradient($primary-color 0%, $secondary-2-color 100%);
    background: linear-gradient($primary-color 0%, $secondary-2-color 100%);
}
.primary-gradient-5{
    background: -webkit-linear-gradient($primary-color 0%, $info-color 100%);
    background: -o-linear-gradient($primary-color 0%, $info-color 100%);
    background: linear-gradient($primary-color 0%, $info-color 100%);
}
.primary-gradient-6{
    background: -webkit-linear-gradient($primary-color 0%, $primary-shades-5 100%);
    background: -o-linear-gradient($primary-color 0%, $primary-shades-5 100%);
    background: linear-gradient($primary-color 0%, $primary-shades-5 100%);
}
.primary-gradient-7{
    background: -webkit-linear-gradient($primary-color 0%, $dark-variant 100%);
    background: -o-linear-gradient($primary-color 0%, $dark-variant 100%);
    background: linear-gradient($primary-color 0%, $dark-variant 100%);
}



/*========== Secondary Gradients Color =========*/ 

.secondary-gradient-1{
    background: -webkit-linear-gradient($secondary-1-color 0%, $secondary-1-variant 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $secondary-1-variant 100%);
    background: linear-gradient($secondary-1-color 0%, $secondary-1-variant 100%);
}
.secondary-gradient-2{
    background: -webkit-linear-gradient($secondary-1-color 0%, $secondary-1-light 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $secondary-1-light 100%);
    background: linear-gradient($secondary-1-color 0%, $secondary-1-light 100%);
}
.secondary-gradient-3{
    background: -webkit-linear-gradient($secondary-1-color 0%, $secondary-2-color 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $secondary-2-color 100%);
    background: linear-gradient($secondary-1-color 0%, $secondary-2-color 100%);
}
.secondary-gradient-4{
    background: -webkit-linear-gradient($secondary-1-color 0%, $secondary-3-color 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $secondary-3-color 100%);
    background: linear-gradient($secondary-1-color 0%, $secondary-3-color 100%);
}
.secondary-gradient-5{
    background: -webkit-linear-gradient($secondary-1-color 0%, $info-color 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $info-color 100%);
    background: linear-gradient($secondary-1-color 0%, $info-color 100%);
}
.secondary-gradient-6{
    background: -webkit-linear-gradient($secondary-1-color 0%, $caution-variant 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $caution-variant 100%);
    background: linear-gradient($secondary-1-color 0%, $caution-variant 100%);
}
.secondary-gradient-7{
    background: -webkit-linear-gradient($secondary-1-color 0%, $dark-variant 100%);
    background: -o-linear-gradient($secondary-1-color 0%, $dark-variant 100%);
    background: linear-gradient($secondary-1-color 0%, $dark-variant 100%);
}





/*========== Accent Gradients Color =========*/ 

.accent-gradient-1{
    background: -webkit-linear-gradient($secondary-2-color 0%, $secondary-2-variant 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $secondary-2-variant 100%);
    background: linear-gradient($secondary-2-color 0%, $secondary-2-variant 100%);
}
.accent-gradient-2{
    background: -webkit-linear-gradient($secondary-2-color 0%, $secondary-2-light 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $secondary-2-light 100%);
    background: linear-gradient($secondary-2-color 0%, $secondary-2-light 100%);
}
.accent-gradient-3{
    background: -webkit-linear-gradient($secondary-2-color 0%, $secondary-3-color 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $secondary-3-color 100%);
    background: linear-gradient($secondary-2-color 0%, $secondary-3-color 100%);
}
.accent-gradient-4{
    background: -webkit-linear-gradient($secondary-2-color 0%, $info-color 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $info-color 100%);
    background: linear-gradient($secondary-2-color 0%, $info-color 100%);
}
.accent-gradient-5{
    background: -webkit-linear-gradient($secondary-2-color 0%, $caution-variant 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $caution-variant 100%);
    background: linear-gradient($secondary-2-color 0%, $caution-variant 100%);
}
.accent-gradient-6{
    background: -webkit-linear-gradient($secondary-2-color 0%, $error-color 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $error-color 100%);
    background: linear-gradient($secondary-2-color 0%, $error-color 100%);
}
.accent-gradient-7{
    background: -webkit-linear-gradient($secondary-2-color 0%, $dark-variant 100%);
    background: -o-linear-gradient($secondary-2-color 0%, $dark-variant 100%);
    background: linear-gradient($secondary-2-color 0%, $dark-variant 100%);
}



/*========== Success Gradients Color =========*/ 

.success-gradient-1{
    background: -webkit-linear-gradient($success-color 0%, $success-variant 100%);
    background: -o-linear-gradient($success-color 0%, $success-variant 100%);
    background: linear-gradient($success-color 0%, $success-variant 100%);
}
.success-gradient-2{
    background: -webkit-linear-gradient($success-color 0%, $success-light 100%);
    background: -o-linear-gradient($success-color 0%, $success-light 100%);
    background: linear-gradient($success-color 0%, $success-light 100%);
}
.success-gradient-3{
    background: -webkit-linear-gradient($success-color 0%, $dark-color 100%);
    background: -o-linear-gradient($success-color 0%, $dark-color 100%);
    background: linear-gradient($success-color 0%, $dark-color 100%);
}



/*========== Info Gradients Color =========*/ 

.info-gradient-1{
    background: linear-gradient($info-color 0%, $info-variant 100%);
}
.info-gradient-2{
    background: linear-gradient($info-color 0%, $info-light 100%);
}
.info-gradient-3{
    background: linear-gradient($info-color 0%, $dark-color 100%);
}



/*========== Caution Gradients Color =========*/ 

.caution-gradient-1{
    background: linear-gradient($caution-color 0%, $caution-variant 100%);
}
.caution-gradient-2{
    background: linear-gradient($caution-color 0%, $caution-light 100%);
}
.caution-gradient-3{
    background: linear-gradient($caution-color 0%, $dark-color 100%);
}




/*========== Error Gradients Color =========*/ 

.error-gradient-1{
    background: linear-gradient($error-color 0%, $error-variant 100%);
}
.error-gradient-2{
    background: linear-gradient($error-color 0%, $error-light 100%);
}
.error-gradient-3{
    background: linear-gradient($error-color 0%, $dark-color 100%);
}



















