



/*=====  Login Registration  Style 3 =====*/


.login-registration-style-3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 60px 60px;
    border-radius: 10px;
    @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
    
    @media #{$xs}{
        padding: 30px 20px;
    }
    @media #{$sm}{
       padding: 55px 30px 60px;
    }

    & .title {}
    
    & p{}
    
    & .single-form {        
        & .form-input {
            & [type="password"]{
                padding-right: 40px;
            }

            & span {
                position: absolute;
                top: 1px;
                right: 10px;
                font-size: 24px;
                color: $dark-light;
            }
            & .main-btn{
                margin-top: 10px;
            }
        }
    }
    
    & .forget{
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
        line-height: 16px;
        margin-top: 16px;
    }
    
    & ul {
        padding-top: 10px;

        & li {
            & a {
                display: block;
                height: 40px;
                width: 100%;
                border-radius: 4px;
                line-height: 40px;
                color: $white-color;
                margin-top: 10px;
                padding: 0 15px;
                text-align: center;

                &.facebook-login-registration {
                    background-color: #3C5898;
                }

                &.google-login-registration {
                    background-color: $white-color;
                    color: $dark-color;
                    @include box-shadow (2px 2px 8px rgba($dark-color, 0.25));
                }

                & img,
                & i {
                    float: left;
                    line-height: 40px;
                }
                & img{
                    position: relative;
                    left: -11px;
                }
            }
        }
    }
    
    & .account {
        color: $dark-color;
        font-weight: 300;
        
        @media #{$xs}{
            margin-top: 25px;
        }
    }
    
    & .login{
        color: $dark-color;
        margin-top: 30px;
        font-weight: 300;
        
        @media #{$xs}{
            font-size: 14px;
        }
        @media #{$sm}{
            font-size: 16px;
        }
        
        & a{
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 700;
            margin-left: 10px;
        }
    }
}


/*=====  Login Registration Dark  Style 3 =====*/



.login-registration-dark-style-3{
    background-color: $secondary-3-variant;
    
    & .title {
        color: $white-color;
    }
    & p{
        color: $white-color;
    }
    
    & .forget{
        color: $secondary-1-color;
    }
    
    & .single-checkbox {
        & input[type="checkbox"] {
            & + label {
                & span {
                    border-color: $secondary-1-color;

                    &::before {
                        background-color: $secondary-1-color;
                    }
                }
            }
        }
        & p{
             color: $white-color;
        }
    }
    
    & .account {
        color: $white-color;
    }
    
    & .login{
        color: $white-color;
        
        & a{
            color: $secondary-1-color;
        }
    }
}




