

/*===== All Header Style 8 =====*/


.header-style-8{
    position: relative;
    
    & .header-item-1{
        height: 720px;
        position: relative;

        @media #{$lg}{
            height: 620px;
        }
        @media #{$md}{
            height: 620px;
        }
        @media #{$xs}{
            height: 380px;
        }

        & .header-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 480px;
            width: 100%;
            padding: 44px;
            background-color: rgba($dark-color, 0.64);
            margin: 0 auto;

            @media #{$lg}{
                max-width: 380px;
            }
            @media #{$xs}{
                max-width: 80%;
                padding: 24px;
            }

            & .title{
                font-weight: 400;
                font-size: 44px;
                line-height: 55px;
                color: $white-color;
    
                @media #{$lg}{
                    font-size: 30px;
                    line-height: 40px;
                }
                @media #{$xs}{
                    font-size: 24px;
                    line-height: 30px;
                }
                @media #{$sm}{
                    font-size: 36px;
                    line-height: 35px;
                }
            }

            & .header-link{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: $secondary-2-color;
                margin-top: 25px;
    
                @media #{$lg}{
                    margin-top: 20px;
                }
                @media #{$xs}{
                    margin-top: 12px;
                    font-size: 14px;
                }
    
                & i{
                    margin-left: 5px;
                    font-size: 20px;
                }
            }
        }
    }  
    
    & .header-item-2{
        height: 360px;
        position: relative;

        @media #{$lg}{
            height: 310px;
        }
        @media #{$md}{
            height: 310px;
        }
        @media #{$xs}{
            height: 320px;
        }

        & .header-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 480px;
            width: 100%;
            padding: 44px;
            background-color: rgba($dark-color, 0.64);
            margin: 0 auto;

            @media #{$lg}{
                max-width: 380px;
            }
            @media #{$xs}{
                max-width: 80%;
                padding: 24px;
            }

            & .title{
                font-weight: 400;
                font-size: 36px;
                line-height: 45px;
                color: $white-color;
    
                @media #{$lg}{
                    font-size: 30px;
                    line-height: 40px;
                }
                @media #{$xs}{
                    font-size: 24px;
                    line-height: 40px;
                }
                @media #{$sm}{
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            & .header-link{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: $secondary-2-color;
                margin-top: 16px;
    
                @media #{$lg}{
                    margin-top: 20px;
                }
                @media #{$xs}{
                    margin-top: 10px;
                    font-size: 14px;
                }
    
                & i{
                    margin-left: 5px;
                    font-size: 20px;
                }
            }
        }
    }

    .header-item-wrapper{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;

        & .header-item-3{
            height: 360px;
            position: relative;
            width: 50%;

            @media #{$lg}{
                height: 310px;
            }
            @media #{$md}{
                height: 310px;
            }
            @media #{$xs}{
                height: 320px;
                width: 100%;
            }
    
            & .header-content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 80%;
                padding: 26px;
                background-color: rgba($dark-color, 0.64);
                margin: 0 auto;
    
                & .title{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    color: $white-color;

                    @media #{$xs}{
                        font-size: 20px;
                        line-height: 26px;
                    }
                    @media #{$sm}{
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
    
                & .header-link{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                    color: $secondary-2-color;
                    margin-top: 8px;

                    @media #{$xs}{
                        font-size: 14px;
                    }
        
                    & i{
                        margin-left: 5px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
















