

/*=====  Search Style 06 =====*/


.search-style-6{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-right: 40px;
    
    @media #{$xs}{
        display: block;
        padding-right: 0;
    }
    @media #{$sm}{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding-right: 40px;
    }
    
    & .nice-select{
        float: none;
        border: 1px solid $gray-3;
        background-color: $white-color;
        height: 40px;
        line-height: 40px;
        border-left: 0;
        border-radius: 0;
        
        @media #{$xs}{
            border-left: 1px solid $gray-3;
            border-top: 0;
        }
        @media #{$sm}{
            border-left: 1px solid $gray-3;
            border-top: 0;
        }
        
        &:focus{
            border-color: $primary-color;
        }
        
        &::after{
            width: 8px;
            height: 8px;
            border-color: $primary-color;
        }
        
        & .current{
            line-height: 40px;
            font-weight: 500;
            color: $dark-variant;
        }
        & .list{
            @include box-shadow (2px 4px 8px rgba($dark-color, 0.25));
            
            & .option {}
        }
    }
    
    & input{
        width: 100%;
        height: 40px;
        border: 1px solid $gray-3;
        background-color: $white-color;
        color: $dark-color;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0 15px;
        @include transition(0.3s);
                
        @media #{$xs}{
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
        }
        
        @media #{$sm}{
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
        }
        
        &:focus{
            border-color: $primary-color;
        }
    }
    & button{
        background-color: $primary-color;
        color: $white-color;
        width: 40px;
        height: 40px;
        padding: 0;
        position: absolute;
        right: 2px;
        font-size: 20px;
        border: 0;
        border-radius: 4px;
        
        @media #{$xs}{
            position: relative;
            width: 100%;
            right: 0;
        }
        @media #{$sm}{
            position: absolute;
            width: 40px;
        }
    }
    
    &.search-dark{
        & .nice-select{
            border: 1px solid rgba($white-color, 0.24);
            border-left: 0;
            background-color: transparent;

            @media #{$xs}{
                border-left: 1px solid rgba($white-color, 0.24);
                border-top: 0;
            }
            @media #{$sm}{
                border-left: 1px solid rgba($white-color, 0.24);
                border-top: 0;
            }

            &:focus{
                border-color: $secondary-2-color;
            }

            &::after{
                border-color: $white-color;
            }

            & .current{
                color: $white-color;
            }
            & .list{
                & .option {
                    background-color: $primary-color;
                    color: $white-color;

                    &.selected {
                        background-color: $primary-variant;
                    }

                    &:hover{
                        background-color: $primary-variant !important;
                    }
                }

                &:hover{                
                    & .option:not(:hover){
                        background-color: $primary-color !important;
                    }
                }
            }
        }

        & input{
            border: 1px solid rgba($white-color, 0.24);
            background-color: transparent;
            color: $white-color;
            @include placeholder{
                opacity: 0.6;
                color: $white-color;
            }

            &:focus{
                border-color: $secondary-2-color;
            }
        }
        & button{
            background-color: $secondary-2-color;
            color: $white-color;
        }
    }
}

















