

/*===== All Order History Style =====*/

.history-title{
    padding-bottom: 24px;
    
    & .title{
        
    }
    & p{
        margin-top: 8px;
    }
}


.single-order{
    position: relative;
    @include box-shadow (0px 2px 4px rgba($dark-color, 0.08));
    padding: 16px;
    border-radius: 8px;
    margin-top: 8px;
    @include transition(0.3s);

    & .order-id{
        font-size: 16px;
        line-height: 22px;
        color: $dark-color;
        font-weight: 400;
    }
    & .order-meta{
        margin-top: 4px;

        & li{
            display: inline-block;

            & + li{
                margin-left: 15px;
            }

            & .product{
                font-size: 13px;
                color: $dark-variant;
            }
            & .date{
                font-size: 14px;
                color: $dark-variant;
            }
        }
    }
    & .single-progress-bar-horizontal{
        margin-top: 8px;
    }
    & .order-price{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $dark-color;
        position: absolute;
        top: 16px;
        right: 16px;

        @media #{$xs}{
            position: relative;
            top: 0;
            right: 0;
            margin-top: 16px;
        }
        @media #{$sm}{
            position: absolute;
            top: 16px;
            right: 16px;
            margin-top: 0;
        }
    }

    &:hover{
        @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
    }
}


.order-history-dark{
    background-color: $secondary-3-variant;

    .history-title{        
        & .title{
            color: $white-color;
        }
        & p{
            color: $white-color;
        }
    }

    & .single-order{
        background-color: rgba($dark-color, 0.24);
    
        & .order-id{
            color: $white-color;
        }
        & .order-meta{    
            & li{    
                & .product{
                    color: rgba($white-color, 0.74);
                }
                & .date{
                    color: rgba($white-color, 0.74);
                }
            }
        }
        & .order-price{
            color: $white-color;
        }
    }
}








