

/*===== All Header Style 6 =====*/


.header-style-6{
    position: relative;
    
    & .single-header{
        height: 720px;
        position: relative;

        @media #{$lg}{
            height: 520px;
        }
        @media #{$md}{
            height: 520px;
        }
        @media #{$xs}{
            height: 420px;
        }
        @media #{$sm}{
            height: 520px;
        }

        & .header-content{
            padding: 44px;
            background-color: rgba($dark-color, 0.64);
            max-width: 480px;
            position: absolute;
            bottom: 0;
            left: 0;

            @media #{$lg}{
                max-width: 380px;
            }
            @media #{$xs}{
                max-width: 90%;
                padding: 25px;
            }
            @media #{$sm}{
                max-width: 380px;
                padding: 40px;
            }

            & .title{
                font-weight: 300;
                font-size: 44px;
                line-height: 55px;
                color: $white-color;

                @media #{$lg}{
                    font-size: 30px;
                    line-height: 40px;
                }
                @media #{$xs}{
                    font-size: 30px;
                    line-height: 40px;
                }
                @media #{$sm}{
                    font-size: 40px;
                    line-height: 50px;
                }
            }
            & .header-link{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.08em;
                text-transform: uppercase;
                color: $secondary-2-color;
                margin-top: 25px;

                @media #{$lg}{
                    margin-top: 20px;
                }
                @media #{$xs}{
                    margin-top: 20px;
                    font-size: 14px;
                }

                & i{
                    margin-left: 5px;
                    font-size: 20px;
                }
            }
        }        
    }
}
















