

/*=====  Navbar Style 5 =====*/

.navbar-style-5 {
    @include box-shadow (2px 4px 8px rgba($dark-color, 0.08));
    background-color: $white-color;
    
    & .navbar-mobile{
        padding: 15px 0;
    }
    
    & .mobile-logo{}
    & .desktop-logo {
        margin-right: 10px;
    }

    & .navbar-container {
        
        @media #{$md}{
            position: fixed;
            top: 0;
            left: -290px;
            width: 280px;
            height: 100%;
            background-color: $white-color;
            padding: 50px 15px 15px;
            z-index: 999;
            overflow-y: auto;
            @include transition(0.3s);
            @include transition-delay(0s);
        }
        @media #{$xs}{
            position: fixed;
            top: 0;
            left: -290px;
            width: 280px;
            height: 100%;
            background-color: $white-color;
            padding: 50px 15px 15px;
            z-index: 999;
            overflow-y: auto;
            @include transition(0.3s);
            @include transition-delay(0s);
        }
        
        &.open{
            @media #{$md}{
                left: 0;
                @include transition-delay(0.3s);
            }
            @media #{$xs}{
                left: 0;
                @include transition-delay(0.3s);
            }
        }
        
        & .navbar-close{
            position: absolute;
            top: 5px;
            right: 15px;
            
            
            & a{
                font-size: 24px;
                color: $dark-color;
                @include transition(0.3s);
                
                &:hover{
                    color: $primary-color;
                }
            }
        }
        
        & .navbar-top {
            border-bottom: 2px solid $gray-4;
            padding: 10px 0;

            & .navbar-top-left {
                & .navbar-top-link {
                    @media #{$md}{
                        text-align: center;
                    }
                    @media #{$xs}{
                        text-align: center;
                    }
                        
                    & li {
                        display: inline-block;

                        & a {
                            padding: 0 16px;
                            line-height: 36px;
                            color: $dark-variant;
                            font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 500;
                            @include transition(0.3s);
                            
                            @media #{$lg}{
                                padding: 0 12px;
                                font-size: 14px;
                            }
                            
                            @media #{$md}{
                                font-size: 14px;
                                padding: 5px;
                                line-height: 22px;
                            }
                            @media #{$xs}{
                                font-size: 14px;
                                padding: 5px;
                                line-height: 22px;
                            }

                            & i {
                                margin-right: 4px;
                                font-size: 18px;
                            }

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            & .navbar-top-right {
                & .navbar-top-link {
                    & li {
                        display: inline-block;

                        & .nice-select {
                            float: none;
                            border: 0;
                            background-color: transparent;
                            height: 36px;
                            line-height: 36px;
                            border-radius: 0;
                            
                            @media #{$md}{
                                padding-left: 10px;
                                padding-right: 25px;
                            }
                            @media #{$xs}{
                                padding-left: 10px;
                                padding-right: 25px;
                            }

                            &::after {
                                width: 8px;
                                height: 8px;
                                border-color: $dark-variant;
                                @include transition(0.3s);
                            }

                            & .current {
                                line-height: 36px;
                                font-weight: 500;
                                color: $dark-variant;
                                text-transform: uppercase;
                                @include transition(0.3s);
                                
                                @media #{$lg}{
                                    font-size: 14px;
                                }
                                @media #{$md}{
                                    font-size: 14px;
                                }
                                @media #{$xs}{
                                    font-size: 14px;
                                }
                            }

                            & .list {
                                @include box-shadow (2px 4px 8px rgba($dark-color, 0.25));

                                & .option {
                                    display: block;
                                    line-height: 30px;
                                    min-height: 30px;
                                    font-size: 14px;
                                }
                            }

                            &:hover {
                                &::after {
                                    border-color: $primary-color;
                                }

                                & .current {
                                    color: $primary-color;
                                }
                            }
                        }

                        & a {
                            padding: 0 16px;
                            line-height: 36px;
                            color: $dark-variant;
                            font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 500;
                            @include transition(0.3s);
                            
                            @media #{$lg}{
                                padding: 0 12px;
                                font-size: 14px;
                            }
                            @media #{$md}{
                                font-size: 14px;
                                padding: 5px;
                                line-height: 22px;
                            }
                            @media #{$xs}{
                                font-size: 14px;
                                padding: 5px;
                                line-height: 22px;
                            }

                            & i {
                                margin-right: 4px;
                            }

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        & .main-navbar {

            & .navbar-menu {
                position: relative;

                & .navbar-menu-toggle{
                    padding-right: 16px;
                    
                    & .menu-toggle{
                        padding: 5px;
                        border: 0;
                        background: none;
                        @include transition(0.3s);
                        border-radius: 4px;

                        & .toggle-icon{
                            width: 25px;
                            height: 2px;
                            background-color: $dark-color;
                            display: block;
                            margin: 5px 0;
                            position: relative;
                            @include transition(0.3s);
                        }

                        &.active{
                            background-color: $primary-color;

                            & .toggle-icon{
                                background-color: $white-color;

                                &:nth-child(1){
                                    top: 7px;
                                    @include transform(rotate(45deg));
                                }
                                &:nth-child(2){
                                    opacity: 0;
                                }
                                &:nth-child(3){
                                    top: -7px;
                                    @include transform(rotate(135deg));
                                }
                            }
                        }
                    }
                }

                & .main-menu {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    @include transform(translateX(-50%));
                    z-index: 99;
                    background-color: $white-color;
                    width: 320px;
                    padding: 24px;
                    @include box-shadow (2px 2px 8px rgba($dark-color, 0.25));
                    margin-top: 15px;
                    display: none;

                    @media #{$laptop}{
                        left: 0;
                        @include transform(translateX(0));
                    }
                    @media #{$lg}{
                        width: 260px;
                        padding: 16px;
                        left: 0;
                        @include transform(translateX(0));
                    }
                    @media #{$md}{
                        @include box-shadow (none);
                        width: 100%;
                        padding: 0;
                        display: block;
                        margin-top: 0;
                        position: relative;
                        top: 0;
                        left: 0;
                        @include transform(translateX(0));
                    }
                    @media #{$xs}{
                        @include box-shadow (none);
                        width: 100%;
                        padding: 0;
                        display: block;
                        margin-top: 0;
                        position: relative;
                        top: 0;
                        left: 0;
                        @include transform(translateX(0));
                    }

                    & li {
                        position: static;

                        @media #{$md}{
                            position: relative;
                        }
                        @media #{$xs}{
                            position: relative;
                        }
                        
                        & a {
                            padding: 0 16px;
                            line-height: 40px;
                            color: $dark-variant;
                            font-size: 16px;
                            text-transform: uppercase;
                            font-weight: 500;
                            @include transition(0.3s);
                            border-radius: 4px;
                            display: block;
                            position: relative;
                            
                            @media #{$lg}{
                                padding: 0 12px;
                                font-size: 14px;
                            }
                            
                            @media #{$md}{
                                display: block;
                                padding: 0;
                                border-bottom: 1px solid $gray-3;
                                line-height: 36px;
                                text-transform: capitalize;
                                font-size: 16px;
                                font-weight: 400;
                                border-radius: 0;
                            }
                            @media #{$xs}{
                                display: block;
                                padding: 0;
                                border-bottom: 1px solid $gray-3;
                                line-height: 36px;
                                text-transform: capitalize;
                                font-size: 16px;
                                font-weight: 400;
                                border-radius: 0;
                            }

                            & i{
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 24px;
                                text-align: center;

                                @media #{$md}{
                                    display: none;
                                }
                                @media #{$xs}{
                                    display: none;
                                }
                            }
                        }
                        
                        & .menu-expand{
                            position: absolute;
                            width: 21px;
                            height: 21px;
                            top: 8px;
                            right: 0;
                            cursor: pointer;
                            z-index: 9;
                            
                            &::before{
                                position: absolute;
                                content: '';
                                top: 50%;
                                @include transform(translateY(-50%));
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background-color: $dark-color;
                            }
                            &::after{
                                position: absolute;
                                content: '';
                                top: 0;
                                left: 50%;
                                @include transform(translateX(-50%));
                                width: 2px;
                                height: 100%;
                                background-color: $dark-color;
                                @include transition(0.3s);
                            }
                        }
                        
                        &.active{
                            & > .menu-expand{
                                &::after{
                                    height: 0;
                                }
                            }
                        }

                        &:hover {
                            & > a {
                                background-color: $primary-color;
                                color: $white-color;
                                @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                                
                                @media #{$md}{
                                    background-color: $white-color;
                                    color: $primary-color;
                                    @include box-shadow (none);
                                }
                                @media #{$xs}{
                                    background-color: $white-color;
                                    color: $primary-color;
                                    @include box-shadow (none);
                                }
                            }
                        }
                        
                        & .sub-mega-dropdown{
                            position: absolute;
                            top: 20px;
                            left: 100%;
                            z-index: 999;
                            min-width: 735px;
                            width: 100%;
                            @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                            border: 0;
                            padding: 0;
                            margin-top: 0;
                            background-color: $white-color;
                            @include transition(0.3s);
                            padding: 40px 24px;
                            opacity: 0;
                            visibility: hidden;
                            
                            @media #{$lg}{
                                min-width: 613px;
                            }
                            @media #{$md}{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 100%;
                                opacity: 1;
                                visibility: visible;
                                @include box-shadow (none);
                                padding: 0;
                                padding-left: 15px;
                                @include transition(0s);
                                min-width: inherit;
                            }
                            @media #{$xs}{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 100%;
                                opacity: 1;
                                visibility: visible;
                                @include box-shadow (none);
                                padding: 0;
                                padding-left: 15px;
                                @include transition(0s);
                                min-width: inherit;
                            }
                            
                            & .mega-dropdown{
                                padding: 0 !important;
                                
                                & .mega-dropdown-list{
                                    width: 33.33%;

                                    @media #{$md}{
                                        width: 100%;
                                    }
                                    @media #{$xs}{
                                        width: 100%;
                                    }
                
                                    & .mega-title{
                                        @media #{$md}{
                                            line-height: 36px;
                                            border-bottom: 1px solid $gray-3;
                                            cursor: pointer;
                                        }
                                        @media #{$xs}{
                                            line-height: 36px;
                                            border-bottom: 1px solid $gray-3;
                                            cursor: pointer;
                                        }
                                    }
                                    & ul{
                                        @media #{$md}{
                                            padding-left: 15px;
                                        }
                                        @media #{$xs}{
                                            padding-left: 15px;
                                        }
                                        
                                        & li{
                                            padding: 0;
                                            margin-top: 16px;

                                            @media #{$lg} {
                                                margin-top: 8px;
                                            }
                                            @media #{$md} {
                                                margin-top: 0;
                                            }
                                            @media #{$xs} {
                                                margin-top: 0;
                                            }

                                            & a{
                                                font-size: 16px;
                                                line-height: 22px;
                                                padding: 0;
                                                text-transform: capitalize;
                                                font-weight: 400;

                                                @media #{$lg} {
                                                    font-size: 14px;
                                                }
                                                @media #{$md} {
                                                    padding: 0;
                                                    line-height: 36px;
                                                    font-size: 14px;
                                                }
                                                @media #{$xs} {
                                                    padding: 0;
                                                    line-height: 36px;
                                                    font-size: 14px;
                                                }
                                            }

                                            &:hover{
                                                & > a{
                                                    background-color: transparent;
                                                    color: $primary-color;
                                                    @include box-shadow (none);
                                                    padding-left: 5px;
                                                }
                                            }
                                        }
                                    }

                                    & .menu-image{
                                        & img{
                                            width: 100%;
                                            border-radius: 4px;
                                        }
                                        & + .menu-image{
                                            margin-top: 8px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        &:hover{
                            & .sub-mega-dropdown{
                                top: 0;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            & .main-menu-horizontal {
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                
                @media #{$md}{
                    display: block;
                }
                @media #{$xs}{
                    display: block;
                }

                & li {
                    padding: 17px 0;
                    position: relative;
                    
                    @media #{$md}{
                        padding: 0;
                    }
                    @media #{$xs}{
                        padding: 0;
                    }
                    
                    &.position-static{
                        @media #{$md}{
                            position: relative !important;
                        }
                        @media #{$xs}{
                            position: relative !important;
                        }
                    }

                    & a {
                        padding: 0 16px;
                        line-height: 36px;
                        color: $dark-variant;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500;
                        @include transition(0.3s);
                        border-radius: 4px;
                        
                        @media #{$lg}{
                            padding: 0 12px;
                            font-size: 14px;
                        }
                        
                        @media #{$md}{
                            display: block;
                            padding: 0;
                            border-bottom: 1px solid $gray-3;
                            line-height: 36px;
                            text-transform: capitalize;
                            font-size: 16px;
                            font-weight: 400;
                            border-radius: 0;
                        }
                        @media #{$xs}{
                            display: block;
                            padding: 0;
                            border-bottom: 1px solid $gray-3;
                            line-height: 36px;
                            text-transform: capitalize;
                            font-size: 16px;
                            font-weight: 400;
                            border-radius: 0;
                        }
                    }
                    
                    & .menu-expand{
                        position: absolute;
                        width: 21px;
                        height: 21px;
                        top: 8px;
                        right: 0;
                        cursor: pointer;
                        
                        &::before{
                            position: absolute;
                            content: '';
                            top: 50%;
                            @include transform(translateY(-50%));
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: $dark-color;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 50%;
                            @include transform(translateX(-50%));
                            width: 2px;
                            height: 100%;
                            background-color: $dark-color;
                            @include transition(0.3s);
                        }
                    }
                    
                    &.active{
                        & > .menu-expand{
                            &::after{
                                height: 0;
                            }
                        }
                    }

                    &:hover {
                        & > a {
                            background-color: $primary-color;
                            color: $white-color;
                            @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                            
                            @media #{$md}{
                                background-color: $white-color;
                                color: $dark-variant;
                                @include box-shadow (none);
                            }
                            @media #{$xs}{
                                background-color: $white-color;
                                color: $dark-variant;
                                @include box-shadow (none);
                            }
                        }
                    }

                    & .sub-menu {
                        position: absolute;
                        top: 125%;
                        left: 0;
                        z-index: 99;
                        min-width: inherit;
                        width: 256px;
                        @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                        border: 0;
                        border-radius: 4px;
                        padding: 0;
                        margin-top: 0;
                        background-color: $white-color;
                        @include transition(0.3s);
                        opacity: 0;
                        visibility: hidden;
                        
                        @media #{$lg} {
                            width: 226px;
                        }
                        
                        @media #{$md}{
                            position: relative;
                            top: 0;
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                            @include box-shadow (none);
                            padding: 0;
                            padding-left: 15px;
                            @include transition(0s);
                        }
                        
                        @media #{$xs}{
                            position: relative;
                            top: 0;
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                            @include box-shadow (none);
                            padding: 0;
                            padding-left: 15px;
                            @include transition(0s);
                        }

                        & li {
                            position: relative;
                            padding: 0;

                            & > a {
                                padding: 0 16px;
                                line-height: 46px;
                                font-weight: 500;
                                font-size: 16px;
                                border-radius: 0;
                                display: block;
                                @include transition(0.4s);

                                @media #{$lg} {
                                    font-size: 14px;
                                    line-height: 40px;
                                }
                                
                                @media #{$md}{
                                    display: block;
                                    font-size: 14px;
                                    padding: 0;
                                    border-radius: 0;
                                    font-weight: 400;
                                }
                                
                                @media #{$xs}{
                                    display: block;
                                    font-size: 14px;
                                    padding: 0;
                                    border-radius: 0;
                                    font-weight: 400;
                                }

                                & i {
                                    float: right;
                                    font-size: 24px;
                                    line-height: 42px;
                                    @include transition(0.4s);

                                    @media #{$md} {
                                        display: none;
                                    }
                                    @media #{$xs} {
                                        display: none;
                                    }
                                }
                            }

                            &:first-child{
                                & > a{
                                    border-top-left-radius: 4px;
                                    border-top-right-radius: 4px;
                                }
                            }
                            &:last-child{
                                & > a{
                                    border-bottom-left-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                }
                            }

                            & .sub-menu {
                                position: absolute;
                                top: 25%;
                                left: 100%;
                                width: 256px;
                                @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                                border: 0;
                                border-radius: 4px;
                                opacity: 0;
                                visibility: hidden;
                                @include transition(0.4s);
                                
                                @media #{$lg} {
                                    width: 226px;
                                }

                                @media #{$md} {
                                    position: relative;
                                    width: 100%;
                                    top: 0;
                                    left: 0;
                                    opacity: 1;
                                    visibility: visible;
                                    @include box-shadow (none);
                                    @include transition(0s);
                                    padding-left: 15px;
                                }

                                @media #{$xs} {
                                    position: relative;
                                    width: 100%;
                                    top: 0;
                                    left: 0;
                                    opacity: 1;
                                    visibility: visible;
                                    @include box-shadow (none);
                                    @include transition(0s);
                                    padding-left: 15px;
                                }

                                & li {
                                    & a {}
                                }
                            }

                            &:hover {
                                & > .sub-menu {
                                    top: 0;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    &:last-child{
                        & .sub-menu {
                            & li {
                                & .sub-menu{                                        
                                    & li {
                                        & .sub-menu{
                                            left: auto;
                                            right: 100%;

                                            @media #{$md}{
                                                left: 0;
                                                right: auto;
                                            }
                                            @media #{$xs}{
                                                left: 0;
                                                right: auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        & .sub-menu {
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                            
                            @media #{$md}{
                                top: 0;
                            }
                            @media #{$xs}{
                                top: 0;
                            }
                        }
                    }
                    
                    & .sub-mega-dropdown{
                        position: absolute;
                        top: 125%;
                        left: 0;
                        z-index: 999;
                        min-width: inherit;
                        width: 100%;
                        @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                        border: 0;
                        border-radius: 4px;
                        padding: 0;
                        margin-top: 0;
                        background-color: $white-color;
                        @include transition(0.3s);
                        padding: 40px 0 40px;
                        opacity: 0;
                        visibility: hidden;
                        
                        @media #{$md}{
                            position: relative;
                            top: 0;
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                            @include box-shadow (none);
                            padding: 0;
                            padding-left: 15px;
                            @include transition(0s);
                        }
                        @media #{$xs}{
                            position: relative;
                            top: 0;
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                            @include box-shadow (none);
                            padding: 0;
                            padding-left: 15px;
                            @include transition(0s);
                        }
                        
                        & .mega-dropdown{
                            padding: 0 !important;
                            
                            & .mega-dropdown-list{
                                width: 25%;

                                @media #{$md}{
                                    width: 100%;
                                }
                                @media #{$xs}{
                                    width: 100%;
                                }
            
                                & .mega-title{
                                    @media #{$md}{
                                        line-height: 36px;
                                        border-bottom: 1px solid $gray-3;
                                        cursor: pointer;
                                    }
                                    @media #{$xs}{
                                        line-height: 36px;
                                        border-bottom: 1px solid $gray-3;
                                        cursor: pointer;
                                    }
                                }
                                & ul{
                                    @media #{$md}{
                                        padding-left: 15px;
                                    }
                                    @media #{$xs}{
                                        padding-left: 15px;
                                    }
                                    
                                    & li{
                                        padding: 0;
                                        margin-top: 16px;

                                        @media #{$lg} {
                                            margin-top: 8px;
                                        }
                                        @media #{$md} {
                                            margin-top: 0;
                                        }
                                        @media #{$xs} {
                                            margin-top: 0;
                                        }

                                        & a{
                                            font-size: 16px;
                                            line-height: 22px;
                                            padding: 0;
                                            text-transform: capitalize;
                                            font-weight: 400;

                                            @media #{$lg} {
                                                font-size: 14px;
                                            }
                                            @media #{$md} {
                                                padding: 0;
                                                line-height: 36px;
                                                font-size: 14px;
                                            }
                                            @media #{$xs} {
                                                padding: 0;
                                                line-height: 36px;
                                                font-size: 14px;
                                            }
                                        }

                                        &:hover{
                                            & > a{
                                                background-color: transparent;
                                                color: $primary-color;
                                                @include box-shadow (none);
                                                padding-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    &:hover{
                        & .sub-mega-dropdown{
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                            
                            @media #{$md}{
                                top: 0;
                            }
                            @media #{$xs}{
                                top: 0;
                            }
                        }
                    }
                }
            }
            
        }
    }

    & .navbar-search-cart{
        width: 100%;
    }
    
    & .navbar-search {
        position: relative;

        & input{
            width: 180px;
            height: 40px;
            border: 0;
            border-bottom: 2px solid $primary-color;
            padding: 0 15px;
            padding-right: 38px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $dark-variant;
            letter-spacing: 0.08em;
            text-transform: uppercase;

            @media #{$md}{
                width: 100%;
            }
            @media #{$xs}{
                width: 100%;
            }
        }
        & button{
            position: absolute;
            top: 0;
            right: 0;
            width: 38px;
            height: 38px;
            border: 0;
            background: none;
            color: $primary-color;
        }
    }

    & .navbar-cart {
        padding-left: 15px;
        position: relative;

        @media #{$md}{
            float: right;
            display: block;
        }

        @media #{$xs}{
            float: right;
            display: block;
        }

        & .icon-btn {
            border-radius: 4px;

            &::before{
                display: none;
            }
        }

        & .navbar-cart-dropdown{
            width: 350px;
            position: absolute;
            top: 100%;
            right: 0;            
            z-index: 99;
            background-color: $white-color;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);
            border-radius: 8px;
            margin-top: 15px;

            @media #{$xs}{
                width: 280px;
            }
            @media #{$sm}{
                width: 350px;
            }
        }

        &:hover{
            & .navbar-cart-dropdown{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    & .navbar-toggle{
        padding-left: 0;

        & .icon-btn {
            border-radius: 4px;

            &::before{
                display: none;
            }
        }
    }
}

.overlay-5{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba($dark-color, 0.7);
    z-index: 99;
    @include transition(0.3s);
    @include transition-delay(0.3s);
    
    &.open{
        width: 100%;
        @include transition-delay(0s);
    }
}


/*=====  Navbar Dark 5 =====*/

.navbar-dark-5{
    @include box-shadow (0px 2px 4px rgba($dark-color, 0.08));
    background-color: $secondary-3-color;

    & .navbar-container {
        
        @media #{$md}{
            background-color: $secondary-3-variant;
        }
        @media #{$xs}{
            background-color: $secondary-3-variant;
        }
        
        &.navbar-sidebar-dark-3{
            @media #{$md}{
                left: -290px;
            }
            @media #{$xs}{
                left: -290px;
            }
        }
        
        &.open{
            @media #{$md}{
                left: 0;
                @include transition-delay(0.3s);
            }
            @media #{$xs}{
                left: 0;
                @include transition-delay(0.3s);
            }
        }
        
        & .navbar-close{           
            
            & a{
                font-size: 24px;
                color: $white-color;
                @include transition(0.3s);
                
                &:hover{
                    color: $secondary-1-color;
                }
            }
        }
        
        & .navbar-top {
            border-bottom: 1px solid rgba($gray-3, 0.2);

            & .navbar-top-left {
                & .navbar-top-link {                        
                    & li {
                        & a {
                            color: $white-color;

                            &:hover {
                                color: $secondary-1-color;
                            }
                        }
                    }
                }
            }

            & .navbar-top-right {
                & .navbar-top-link {
                    & li {
                        & .nice-select {
                            &::after {
                                border-color: $white-color;
                            }

                            & .current {
                                color: $white-color;
                            }

                            & .list{
                                @include box-shadow (2px 4px 8px rgba($dark-color, 0.25));

                                & .option {
                                    background-color: $primary-color;
                                    color: $white-color;

                                    &.selected {
                                        background-color: $primary-variant;
                                    }

                                    &:hover{
                                        background-color: $primary-variant !important;
                                    }
                                }

                                &:hover{                
                                    & .option:not(:hover){
                                        background-color: $primary-color !important;
                                    }
                                }
                            }

                            &:hover {
                                &::after {
                                    border-color: $white-color;
                                }

                                & .current {
                                    color: $white-color;
                                }
                            }
                        }

                        & a {
                            color: $white-color;

                            &:hover {
                                color: $secondary-1-color;
                            }
                        }
                    }
                }
            }
        }

        & .main-navbar {
            & .navbar-menu {
                & .navbar-menu-toggle{                    
                    & .menu-toggle{
                        & .toggle-icon{
                            background-color: $white-color;
                        }

                        &.active{
                            background-color: $secondary-1-color;
                        }
                    }
                }

                & .main-menu {
                    background-color: $secondary-3-variant;

                    & li {                        
                        & a {
                            color: $white-color;
                            
                            @media #{$md}{
                                border-bottom: 1px solid rgba($gray-3, 0.2);
                            }
                            @media #{$xs}{
                                border-bottom: 1px solid rgba($gray-3, 0.2);
                            }
                        }
                        
                        & .menu-expand{
                            
                            &::before{
                                background-color: $white-color;
                            }
                            &::after{
                                background-color: $white-color;
                            }
                        }
                        
                        &.active{
                            & > .menu-expand{
                                &::after{
                                    height: 0;
                                }
                            }
                        }

                        &:hover {
                            & > a {
                                background-color: $secondary-1-color;
                                
                                @media #{$md}{
                                    background-color: transparent;
                                    color: $dark-variant;
                                }
                                @media #{$xs}{
                                    background-color: transparent;
                                    color: $dark-variant;
                                }
                            }
                        }
                        
                        & .sub-mega-dropdown{
                            background-color: $secondary-3-variant;
                                                        
                            & .mega-dropdown{
                                
                                & .mega-dropdown-list{
                
                                    & .mega-title{
                                        color: $white-color;

                                        @media #{$md}{
                                            border-bottom: 1px solid rgba($gray-3, 0.2);
                                        }
                                        @media #{$xs}{
                                            border-bottom: 1px solid rgba($gray-3, 0.2);
                                        }
                                    }
                                    & ul{                                        
                                        & li{
                                            & a{}

                                            &:hover{
                                                & > a{
                                                    color: $secondary-1-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .main-menu-horizontal {
                & li {                        
                    &.position-static{}

                    & a {
                        color: $white-color;
                                                    
                        @media #{$md}{
                            border-bottom: 1px solid rgba($gray-3, 0.2);
                        }
                        @media #{$xs}{
                            border-bottom: 1px solid rgba($gray-3, 0.2);
                        }
                    }
                    
                    & .menu-expand{
                        
                        &::before{
                            background-color: $white-color;
                            
                        }
                        &::after{
                            background-color: $white-color;
                        }
                    }

                    &:hover {
                        & > a {
                            background-color: $secondary-1-color;
                            color: $white-color;
                            @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
                            
                            @media #{$md}{
                                background-color: transparent;
                                color: $secondary-1-color;
                                @include box-shadow (none);
                            }
                            @media #{$xs}{
                                background-color: transparent;
                                color: $secondary-1-color;
                                @include box-shadow (none);
                            }
                        }
                    }

                    & .sub-menu {
                        background-color: $secondary-3-variant;
                        
                        @media #{$md}{
                            background-color: transparent;
                        }
                        @media #{$xs}{
                            background-color: transparent;
                        }

                        & li {
                            & a {
                                & i {}
                            }

                            & .sub-menu {
                                & li {
                                    & a {}
                                }
                            }

                            &:hover {
                                & > .sub-menu {}
                            }
                        }
                    }

                    &:hover {
                        & .sub-menu {}
                    }
                    
                    & .sub-mega-dropdown{
                        background-color: $secondary-3-variant;
                        
                        @media #{$md}{
                            background-color: transparent;
                        }
                        @media #{$xs}{
                            background-color: transparent;
                        }
                        
                        & .mega-dropdown{                                
                            & .mega-dropdown-list{                
                                & .mega-title{
                                    color: $white-color;
                                    
                                    @media #{$md}{
                                        border-bottom: 1px solid rgba($gray-3, 0.2);
                                    }
                                    @media #{$xs}{
                                        border-bottom: 1px solid rgba($gray-3, 0.2);
                                    }
                                }
                                & ul{                                        
                                    & li{
                                        & a{}

                                        &:hover{
                                            & > a{
                                                color: $secondary-1-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    &:hover{
                        & .sub-mega-dropdown{}
                    }
                }
            }
        }
    }

    & .navbar-search {
        & input{
            color: $white-color;
            background-color: transparent;
            border-color: $white-color;
        }
        & button{
            color: $white-color;
        }
    }

    & .navbar-toggle,
    & .navbar-cart {
        & .icon-btn {
            color: $white-color;
        }
    }

}

.overlay-dark-5{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba($dark-color, 0.7);
    z-index: 99;
    @include transition(0.3s);
    @include transition-delay(0.3s);
    
    &.open{
        width: 100%;
        @include transition-delay(0s);
    }
}

