

/*========== Heading =========*/ 

.heading-1 {
    font-size: 44px;
    line-height: 55px;
}
.heading-2 {
    font-size: 36px;
    line-height: 45px;
}
.heading-3 {
    font-size: 28px;
    line-height: 35px;
}
.heading-4 {
    font-size: 24px;
    line-height: 30px;
}
.heading-5 {
    font-size: 20px;
    line-height: 28px;
}
.heading-6 {
    font-size: 14px;
    line-height: 18px;
}


/*========== paragraph =========*/ 

.paragraph-large {
    font-size: 18px;
    line-height: 26px;
}
.paragraph {
    font-size: 16px;
    line-height: 22px;
}

.paragraph-small {
    font-size: 14px;
    line-height: 20px;
}

.paragraph-xsmall {
    font-size: 12px;
    line-height: 16px;
}


/*========== Font Weight =========*/

.display-1{
    font-size: 88px;
    line-height: 110px;
}

.display-2{
    font-size: 76px;
    line-height: 95px;
}

.display-3{
    font-size: 64px;
    line-height: 80px;
}
.display-4{
    font-size: 52px;
    line-height: 65px;
}

/*========== Font Weight =========*/

.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-700{
    font-weight: 700;
}








