// features css

.feature-wrapper {

  .feature-title {
    margin-bottom: 50px;

    span {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    h1 {
      font-size: 55px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;

    }
  }

  .feature-style-1 {
    border: 1px solid $gray-4;
    border-radius: 10px;
    background: $white-color;
    padding: 40px 30px;
    margin-bottom: 30px;
    @include transition(.3s);

    &:hover {
      @include box-shadow(0 10px 30px rgba(0, 0, 0, .1));

      .feature-icon {
        background: $primary-color;
        color: $white-color;
      }
    }

    .feature-icon {
      width: 78px;
      height: 78px;
      border-radius: 50%;
      background: $white-color;
      border: 2px solid $primary-color;
      color: $primary-color;
      font-size: 40px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include transition(.3s);
    }

    .feature-content {

      h3 {
        margin-bottom: 15px;
      }
    }
  }
}
