

/*=====   Filter Style 2 Style =====*/


.filter-style-8{
    padding: 16px;
    border-radius: 8px;
    @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
    margin-top: 16px;

    & .filter-title{
        & .title{
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            color: $dark-color;
            display: block;
            position: relative;

            &::before{
                position: absolute;
                content: "\F0143";
                font-family: "Material Design Icons";
                top: 50%;
                @include transform(translateY(-50%));
                right: 0;
                font-size: 24px;
                color: $primary-color;
            }

            &.collapsed{
                &::before{
                    content: "\F0140";
                }
            }
        }
    }
    
    & .filter-search{
        margin-top: 16px;
        position: relative;
        
        & input{
            width: 100%;
            height: 40px;
            border: 1px solid rgba($dark-color, 0.64);
            padding: 0 16px;
            border-radius: 4px;
        }
        & button{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            border: 0;
            background: none;
            color: $primary-color;
        }
    }

    & .filter-category{
        & .category-list{
            padding-top: 8px;

            & li{
                margin-top: 8px;

                & a{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: $dark-color;
                    position: relative;
                    display: block;

                    &::before{
                        position: absolute;
                        content: "\F0143";
                        font-family: "Material Design Icons";
                        top: 50%;
                        @include transform(translateY(-50%));
                        right: 0;
                        font-size: 24px;
                        color: $primary-color;
                    }

                    &.collapsed{
                        &::before{
                            content: "\F0140";
                        }
                    }
                }

                & .sub-category{
                    padding: 8px 0;
                    padding-left: 34px;              

                    & li{
                        & a{
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: $dark-color;
                            position: relative;
                            display: block;

                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &.filter-dark{
        background-color: $secondary-3-variant;

        & .filter-title{
            & .title{
                color: $white-color;
    
                &::before{
                    color: $secondary-1-color;
                }
            }
        }

        & .filter-search{            
            & input{
                color: $white-color;
                border-color: rgba($white-color, 0.6);
                background-color: rgba($white-color, 0.24);
            }
            & button{
                color: $secondary-1-color;
            }
        }
    
        & .filter-category{
            & .category-list{    
                & li{    
                    & a{
                        color: $white-color;
    
                        &::before{
                            color: $secondary-1-color;
                        }
                    }
    
                    & .sub-category{             
    
                        & li{
                            & a{
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }    
}












