.sidebar-menu {
  min-height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
}

.sidebar-menu nav nav {
  display: block;
  width: 100%;
}

.sidebar-menu nav nav > a.nav-link {
  border-radius: 0;
  display: block;
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.sidebar-menu nav nav > a.nav-link.active {
  background: #fff;
  color: #333;
}

.sidebar-menu nav nav > nav {
  padding-left: 8px;
}

.sidebar-menu nav nav > nav > a.nav-link {
  font-size: 16px;
  text-transform: unset;
  font-weight: 400;
}

.sidebar-menu nav nav > nav > a.nav-link.active {
  background: #0d6efd;
  color: #fff;
}

.doc-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.doc-subtitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-wrapper {
  margin-left: 250px;
}

.main-wrapper .color-box-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.main-wrapper .color-box-wrapper .doc-colorbox {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 5px;
  text-align: center;
  font-size: 14px;
}

.main-wrapper .text-color-box p {
  margin-bottom: 10px;
  padding: 4px;
}
