// Testimonial css

.testimonial-wrapper {

  .testimonial-title {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;

    }
  }

  & .slick-slide {
    &:focus {
      outline: none;
    }
  }

  .testimonial-style-4-wrapper {
    position: relative;
    padding-bottom: 70px;

    .tns-controls {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;

      button {
        margin: 0 8px;
        width: 40px;
        height:40px;
        border-radius: 4px;
        border: none;
        background: rgba($primary-color, .2);
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;

        &:hover {
          background: $primary-color;
          color: $white-color;
        }
      }
    }

    .testimonial-style-4 {
      background: $white-color;
      padding: 40px 30px;
      position: relative;
      border-radius: 5px;
      @include box-shadow(0 5px 15px rgba(0, 0, 0, .15));
      text-align: center;
      margin: 50px 30px 30px;

      @media #{$xs} {
        margin: 50px 10px 30px;
        padding: 40px 20px;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: $white-color;
        width: 30px;
        height: 30px;
        bottom: -15px;
        @include transform(rotate(45deg));
      }
      
      .quote {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 85px;
        line-height: 0;
        color: $primary-color;
      }

      .testimonial-content {
        font-size: 16px;
        margin-bottom: 30px;
      }

      .testimonial-info {

        h3 {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }

      .testimonial-img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }

    
  }

  .testimonial-img-4-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$xs} {
      max-width: 300px;
      margin: auto;
    }
    @media #{$sm} {
      max-width: 380px;
    }

      .testimonial-img {
        max-width: 113px;
        width: 100%;
        height: 113px;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid $white-color;
        @include transform(scale(.85));
        @include transition(.3s);
        margin: 20px 7px;

        @media #{$laptop} {
          max-width: 100px;
          height: 100px;
        }
        @media #{$lg} {
          max-width: 77px;
          height: 77px;
        }
        @media #{$md} {
          max-width: 100px;
          height: 100px;
        }
        @media #{$xs} {
          max-width: 60px;
          height: 60px;
          margin: 20px;
        }
        @media #{$sm} {
          max-width: 87px;
          height: 87px;
        }
        


        &.tns-nav-active {
          @include transform(scale(1.1));
        }
      }
  }


}