// documentation css

.sidebar-menu {
  min-height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;

  nav {

    nav {
      display: block;
      width: 100%;

      & > a.nav-link {
        border-radius: 0;
        display: block;
        color: #333;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;

        &.active {
          background: #fff;
          color: #333;
        }
      }

      & > nav {
        padding-left: 8px;

        & > a.nav-link {
          font-size: 16px;
          text-transform: unset;
          font-weight: 400;

          &.active {
            background: #0d6efd;
            color: #fff;
          }
        }
      }
    }
  }
}

.doc-title {
  font-size: 48px;
  margin-bottom: 30px;
}

.doc-subtitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-wrapper {
  margin-left: 250px;

  .color-box-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;


    .doc-colorbox {
      width: 150px;
      height: 150px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 5px;
      text-align: center;
      font-size: 14px;
    }
  }

  .text-color-box {

    p {
      margin-bottom: 10px;
      padding: 4px;
    }
  }
}

