// Testimonial css

.testimonial-wrapper {

  .testimonial-title {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;

    }
  }

  & .slick-slide {
    &:focus {
      outline: none;
    }
  }

  .testimonial-title-5 {
    h1 {
      font-size: 20px;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      margin-bottom: 15px;

      @media #{$xs} {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  .logo-wrapper {
    display: flex;

    @media #{$md} {
      margin-bottom: 50px;
    }
    
    @media #{$xs} {
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    .single-logo {
      width: 150px;
      padding: 10px;
      opacity: .8;

      img {
        width: 100%;
      }
    }
  }

  .testimonial-style-5-wrapper {
    position: relative;

    .tns-controls {
      position: absolute;
      bottom: 0;
      left: 15px;
      z-index: 2;
      display: flex;
      align-items: center;

      button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        background: transparent;

        &:hover {
          background: $primary-color;
          color: $white-color;
        }
        &[data-controls="next"] {
          margin-left: 10px;
        }
      }
    }

    .testimonial-style-5 {
      display: flex;
      padding: 2px;

      @media #{$xs} {
        flex-direction: column-reverse;
      }

      .testimonial-img {
        max-width: 133px;
        height: 133px;
        width: 100%;
        border-radius: 50%;
        margin-right: 25px;
        margin-top: 10px;
        overflow: hidden;
      }

      .testimonial-right {
        
        .quote {
          font-size: 80px;
          line-height: 0;
          color: $primary-color;
        }

        .testimonial-content {
          margin-bottom: 15px;

          p {
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
          }
        }

        .testimonial-info {

          h3 {
            font-size: 22px;
            margin-bottom: 5px;
          }
        }
      }
    }

    .slick-arrow {
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
      z-index: 99;
      @include transition(.3s);

      @media #{$xs} {
        bottom: -65px;
      }

      &:hover {
        background: $primary-color;
        color: $white-color;
      }

      &.next {
        left: 75px;
      }
    }
  }


}