
/*===== Form Elements Style =====*/

.form-elements{}


.form-elements-radio,
.form-elements-checkbox{
    
    & .radio-style,
    & .checkbox-style{
        & li{
            padding-top: 14px;
            display: inline-block;
            
            & + li{
                margin-left: 20px;
            }
        }
    }
}


.form-white-wrapper{
    background-color: $secondary-3-variant;
    padding: 5px;
    
    & .heading-3{
        color: $white-color;
    }
}






