
/*=====  Pricing  Style 9 =====*/

.pricing-style-9{
    background: $white-color;
    @include box-shadow (2px 2px 8px rgba($dark-color, 0.32));
    border-radius: 8px;
    overflow: hidden;
    
    
    & .pricing-header{
        & .title{
            padding: 30px;
        }
        
        & .image-pricing{            
            & .image{
                width: 50%;

                & img{
                    width: 100%;
                    position: relative;
                    left: -30px;
                }
            }
            & .pricing{
                width: 50%;
                background-color: $secondary-3-color;
                text-align: left;
                height: 100px;
                padding: 16px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                
                & .price{
                    font-size: 16px;
                    line-height: 22px;
                    color: $dark-light;
                    color: rgba($white-color, 0.6);

                    & strong{
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 45px;
                        color: $dark-color;
                        display: block;
                        color: $white-color;
                    }
                }
            }
        }
    }
    & .pricing-body{   
        padding: 20px 30px 0px;
        
        & .pricing-list{
            margin-top: 25px;
            
            & li{
                font-size: 16px;
                line-height: 22px;
                color: $dark-light;
                margin-top: 10px;
                
                & i{
                    margin-right: 10px;
                    font-size: 24px;
                }
            }
        }
    }
    & .pricing-footer{
        padding: 30px 30px;
        
        & .main-btn{
            margin-top: 15px;
        }
    }
}

/*=====  Pricing  Style Dark 9 =====*/

.pricing-style-dark-9{
    background-color: $secondary-3-variant;

    & .pricing-header{
        & .title{
            color: $white-color;
        }
        
        & .image-pricing{
            & .pricing{
                background-color: $secondary-3-color;
            }
        }
    }
    & .pricing-body{        
        & .pricing-list{            
            & li{
                color: rgba($white-color, 0.6);
                
                & i{
                    color: $secondary-1-color;
                }
            }
        }
    }
}












