/*=====  Common Style =====*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

body {
  font-family: $font-1;
  font-weight: normal;
  font-style: normal;
  color: rgba($dark-color, 0.64);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  @include box-sizing (border-box);
}
.btn-close:focus,
*:focus {
  outline: none;
  box-shadow: none;
}

img {
  max-width: 100%;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  text-decoration: none;
  outline: none;
}
button {
  @include transition(.3s);
}
a,
a:focus,
a:hover {
  text-decoration: none;
}

a,
i,
span {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-1;
  color: $dark-color;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba($dark-color, 0.64);
  margin: 0;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sticky {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 999;
background: $white-color;
@include transition(.3s);
}


.single-countup {
  background: $white-color;
  border-radius: 5px;
  padding: 30px 40px;
  @include box-shadow(0px 0px 15px rgba(0, 0, 0, .1));
  text-align: center;
  
  h2 {
    margin-bottom: 10px;
  }

  .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    color: $white-color;
    font-size: 30px;
  }
}