.primary-btn-outline {
  color: #843464;
  border-color: #843464; }
  .primary-btn-outline:hover {
    color: #fff;
    background-color: #843464;
    border-color: #843464; }
  .primary-btn-check:focus + .primary-btn-outline, .primary-btn-outline:focus {
    box-shadow: 0 0 0 0.25rem rgba(132, 52, 100, 0.5); }
  .primary-btn-check:checked + .primary-btn-outline, .primary-btn-check:active + .primary-btn-outline, .primary-btn-outline:active, .primary-btn-outline.active, .primary-btn-outline.dropdown-toggle.show {
    color: #fff;
    background-color: #843464;
    border-color: #843464; }
    .primary-btn-check:checked + .primary-btn-outline:focus, .primary-btn-check:active + .primary-btn-outline:focus, .primary-btn-outline:active:focus, .primary-btn-outline.active:focus, .primary-btn-outline.dropdown-toggle.show:focus {
      box-shadow: 0 0 0 0.25rem rgba(132, 52, 100, 0.5); }
  .primary-btn-outline:disabled, .primary-btn-outline.disabled {
    color: #843464;
    background-color: transparent; }

.table {
  --bs-table-bg: #843464;
  --bs-table-striped-bg: #8a3e6c;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #904874;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #8d4370;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #904874; }

.alert {
  color: #4f1f3c;
  background-color: #e6d6e0;
  border-color: #dac2d1; }
  .alert .alert-link {
    color: #3f1930; }

.bg {
  background-color: #843464 !important; }

.text {
  color: #843464 !important; }

.border {
  border-color: #843464 !important; }

.link {
  color: #843464; }
  .link:hover, .link:focus {
    color: #6a2a50; }

.list-group-item {
  color: #4f1f3c;
  background-color: #e6d6e0; }
  .list-group-item.list-group-item-action:hover, .list-group-item.list-group-item-action:focus {
    color: #4f1f3c;
    background-color: #cfc1ca; }
  .list-group-item.list-group-item-action.active {
    color: #fff;
    background-color: #4f1f3c;
    border-color: #4f1f3c; }

/*# sourceMappingURL=style-2022-09-27-17-33-46-504.css.map */
.primary-btn {
  color: #ffffff;
  background-color: #843464;
  border-color: #843464; }
  .primary-btn:hover {
    color: #ffffff;
    background-color: #702c55;
    border-color: #6a2a50; }
  .primary-btn-check:focus + .primary-btn, .primary-btn:focus {
    color: #ffffff;
    background-color: #702c55;
    border-color: #6a2a50;
    box-shadow: 0 0 0 0.25rem rgba(150, 82, 123, 0.5); }
  .primary-btn-check:checked + .primary-btn, .primary-btn-check:active + .primary-btn, .primary-btn:active, .primary-btn.active, .show > .primary-btn.dropdown-toggle {
    color: #ffffff;
    background-color: #6a2a50;
    border-color: #63274b; }
    .primary-btn-check:checked + .primary-btn:focus, .primary-btn-check:active + .primary-btn:focus, .primary-btn:active:focus, .primary-btn.active:focus, .show > .primary-btn.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.25rem rgba(150, 82, 123, 0.5); }
  .primary-btn:disabled, .primary-btn.disabled {
    color: #ffffff;
    background-color: #843464;
    border-color: #843464; }

/*# sourceMappingURL=style-2022-09-27-17-33-46-504_button.css.map */
