

/*===== All Product Style 23 =====*/

.product-style-23{
    background-color: $white-variant;
    border-radius: 8px;

    @media #{$xs}{        
        display: block;
    }
    & .product-image{
        position: relative;

        & img{
            width: 100%;
        }
    }

    & .product-content{
        position: relative;
        z-index: 5;
        padding: 20px 20px 25px;

        @media #{$lg}{
            padding: 20px 15px 25px;
        }
        @media #{$md}{
            padding: 20px 15px 25px;
        }
        @media #{$xs}{
            padding: 20px 10px 25px;
        }

        & .title{
            & a{
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $dark-color;
                @include transition(0.3s);
                margin-top: 8px;

                @media #{$lg}{
                    line-height: 22px;
                }

                @media #{$lg}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 20px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }

                &:hover{
                    color: $primary-color;
                }
            }
        }
        & p{
            color: rgba($dark-color, 0.74);
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            margin-top: 8px;
        }

        & .main-btn{
            margin-top: 16px;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: capitalize;
        }
    }
}
















