// features css
.feature-wrapper {

  .feature-title {
    margin-bottom: 50px;

    span {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    h1 {
      font-size: 55px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;

    }
  }

  .feature-style-4 {
    text-align: center;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 40px 30px;
    border: 1px solid $gray-3;
    background: $white-color;
    @include transition(.3s);

    &:hover {
      @include box-shadow(0 10px 35px rgba(0, 0, 0, .15));

      .feature-icon {
        background-color: $white-color !important;
      }
    }


    .feature-icon {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 auto 20px;
      font-size: 30px;
      @include transition(.3s);

      &.icon-1 {
        background-color: $primary-shades-7;
        color: $primary-color;
      }
      
      &.icon-2 {
        background-color: $secondary-1-light;
        color: $secondary-1-color;
      }
      
      &.icon-3 {
        background-color: $secondary-3-light;
        color: $secondary-3-color;
      }
      &.icon-4 {
        background-color: $caution-light;
        color: $caution-color;
      }
      &.icon-5 {
        background-color: $error-light;
        color: $error-color;
      }
      &.icon-6 {
        background-color: $info-light;
        color: $info-color;
      }
    }

    .feature-content {

      h3 {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }
  }

}
