// Testimonial css

.testimonial-wrapper {

  .testimonial-title {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;

    }
  }

  .testimonial-title-6 {

    h1 {
      margin-bottom: 20px;
    }
  }

  .testimonial-style-6-wrapper {
    position: relative;
    margin: 0px -10px;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
    
    .tns-controls {
      position: absolute;
      right: 10px;
      top: -30px;
      z-index: 1;
      display: flex;

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $primary-light;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        &[data-controls="next"] {
          margin-left: 10px;
        }
  
        &:hover {
          background: $primary-color;
          color: $white-color;
        }
      }
    }

    .testimonial-style-6 {
      padding: 50px 60px 50px 40px;
      background: $white-color;
      @include box-shadow(0 5px 15px rgba(0, 0, 0, .1));
      border-radius: 30px 50% 30px 30px;
      margin: 60px 0px 50px;

      @media #{$lg} {
        padding-right: 40px;
      }

      @media #{$xs} {
        padding-right: 40px;
      }

      .testimonial-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media #{$xs} {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .testimonial-info {
          display: flex;
          margin-bottom: 10px;

          .testimonial-img {
            width: 100%;
            max-width: 44px;
            height: 44px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;

            @media #{$xs} {
              max-width: 60px;
              height: 60px;
            }
          }

          .testimonial-text {

            h3 {
              font-size: 20px;
              font-weight: 500;
            }
            span {
              font-size: 14px;
            }
          }

        }
        
        .rating {
          color: $rating;
          margin-bottom: 10px;

          @media #{$xs} {
            margin-left: 85px;
          }
        }

      }

      .quote {
        font-size: 80px;
        line-height: 1;
        color: $primary-color;
      }
    }

    .slick-arrow {
      position: absolute;
      top: -40px;
      right: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $primary-light;
      @include transition(.3s);
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $primary-color;
        color: $white-color;
      }
      &.prev {
        right: 50px;

        @media #{$md} {
          left: calc(50% - 50px);
          right: auto;
        }
        @media #{$xs} {
          left: calc(50% - 50px);
          right: auto;
        }
      }

      @media #{$md} {
        bottom: -40px;
        top: auto;
        left: calc(50% + 10px);
        right: auto;
      }
      @media #{$xs} {
        bottom: -40px;
        top: auto;
        left: calc(50% + 10px);
        right: auto;
      }
    }
  }

}