// Testimonial css

.testimonial-wrapper {

  .testimonial-title {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }


  .testimonial-title-2 {
    margin-bottom: 50px;
    text-align: center;

    span {
      font-size: 20px;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 15px;
    }
    h1 {
      margin-bottom: 5px;
    }

    .separator {
      width: 80px;
      height: 4px;
      background: $primary-color;
      border-radius: 30px;
      margin: auto;
      margin-left: -18px;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: -16px;
        width: 10px;
        height: 4px;
        background: $primary-color;
        border-radius: 30px;
      }

      &::after {
        right: -32px;
      }
    }
  }

  .testimonial-style-2-wrapper {
    position: relative;
    margin: 0px -10px;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .tns-nav {
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;

      button {
        width: 12px;
        height: 12px;
        border: 2px solid $primary-color;
        background: none;
        border-radius: 50%;
        margin: 5px;

        &.hover,
        &.tns-nav-active {
          background: $primary-color;
        }
      }
    }

    .testimonial-style-2 {
      display: flex;
      margin: 0 10px 60px;

      @media #{$xs, $lg} {
        flex-direction: column;
      }
      @media #{$sm} {
        flex-direction: row;
      }

      .testimonial-img {
        max-width: 190px;
        width: 100%;
        height: 190px;
        border-radius: 50px 50px 0 50px;
        overflow: hidden;
        margin-right: 20px;

        @media #{$lg} {
          max-width: 150px;
          height: 150px;
          border-radius: 30px 30px 0 30px;
        }

        @media #{$xs, $lg} {
          margin-bottom: 30px;
        }

        @media #{$sm} {
          margin-bottom: 0;
        }
      }

      .testimonial-right {
        width: 100%;
        flex: 1;

        .testimonial-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          .testimonial-meta {

            h3 {
              font-size: 20px;
              font-weight: 500;
              margin-bottom: 5px;
            }
          }

          .testimonial-rating {
            color: $rating;
          }
        }

      }
    }

  }

}