

/*===== All Content Card Style 8 =====*/

.content-card-style-8{ 
    position: relative; 
    height: 640px;

    @media #{$xs}{
        height: 580px;
    }
    @media #{$sm}{
        height: 640px;
    }

    & .content-card{
        position: absolute;
        max-width: 480px;
        padding: 40px;
        background-color: rgba($dark-color, 0.6);
        left: 50%;
        bottom: 0;
        @include transform(translateX(-50%));
        width: 100%;

        @media #{$xs}{
            width: 80%;
            padding: 20px;
        }
        @media #{$sm}{
            max-width: 420px;
            padding: 30px;
        }

        
        & .title{
            font-weight: 400;
            font-size: 44px;
            line-height: 55px;
            color: $white-color;

            @media #{$xs}{
                font-size: 30px;
                line-height: 40px;
            }
            @media #{$sm}{
                font-size: 40px;
                line-height: 50px;
            }
        }
        & .content-link{
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $secondary-2-color;
            text-transform: uppercase;
            margin-top: 26px;

            @media #{$xs}{
                font-size: 14px;
            }
            @media #{$sm}{
                font-size: 16px;
            }
        }
    }
}


















