

/*=====  Button Page Style =====*/

.buttons-wrapper{}

.buttons-list{
    margin-left: -15px;
    margin-right: -15px;
    display: inline-block;
    
    & > li{
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
        margin-top: 30px;
    }
}

.white-buttons{
    & .buttons-list{
        margin-left: 5px;
        
        & > li{
            background-color: $secondary-2-variant;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-right: -4px;
        }
    }
}





