/*=====  Common Style =====*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

body {
  font-family: $font-1;
  font-weight: normal;
  font-style: normal;
  color: rgba($dark-color, 0.64);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  @include box-sizing (border-box);
}
.btn-close:focus,
*:focus {
  outline: none;
  box-shadow: none;
}

img {
  max-width: 100%;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  text-decoration: none;
  outline: none;
}
button {
  @include transition(.3s);
}
a,
a:focus,
a:hover {
  text-decoration: none;
}

a,
i,
span {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-1;
  color: $dark-color;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba($dark-color, 0.64);
  margin: 0;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sticky {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 999;
background: $white-color;
@include transition(.3s);
}


.single-countup {
  background: $white-color;
  border-radius: 5px;
  padding: 30px 40px;
  @include box-shadow(0px 0px 15px rgba(0, 0, 0, .1));
  text-align: center;
  
  h2 {
    margin-bottom: 10px;
  }

  .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    color: $white-color;
    font-size: 30px;
  }
}


/*===== All Preloader Style =====*/

.preloader{
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display:  table;
  height: 100%;
  width:  100%;
  /* Change Background Color */
  background: $white-color;
  z-index: 99999;
  
  & .loader{
      display: table-cell;
      vertical-align:  middle;
      text-align: center;
      
      & .spinner {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 64px;
          margin-left: -32px;
          z-index: 18;
          pointer-events: none;
          
          & .spinner-container {
              pointer-events: none;
              position: absolute;
              width: 100%;
              padding-bottom: 100%;
              top: 50%;
              left: 50%;
              margin-top: -50%;
              margin-left: -50%;
              @include animation(spinner-linspin 1568.23529647ms linear infinite);
              
              & .spinner-rotator {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  @include animation(spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
                  
                  & .spinner-left {
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      overflow: hidden;
                      right: 50%;
                  }
                  
                  & .spinner-right {
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      overflow: hidden;
                      left: 50%;
                  }
              }
          }
      }
      
      & .spinner-circle {
          box-sizing: border-box;
          position: absolute;
          width: 200%;
          height: 100%;
          border-style: solid;
          /* Spinner Color */
          border-color: $primary-color $primary-color $gray-4;
          border-radius: 50%;
          border-width: 6px;
      }
      
      & .spinner-left {
          & .spinner-circle {
              left: 0;
              right: -100%;
              border-right-color: $gray-4;
              @include animation( spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
          }
      }
      
      & .spinner-right {
          & .spinner-circle {
              left: -100%;
              right: 0;
              border-left-color: $gray-4;
              @include animation(right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
          }
      }
  }
}

/* Preloader Animations */

@-webkit-keyframes spinner-linspin {
  to {
      @include transform(rotate(360deg));
  }
}

@keyframes spinner-linspin {
  to {
      @include transform(rotate(360deg));
  }
}

@-webkit-keyframes spinner-easespin {
  12.5% {
      @include transform(rotate(135deg));
  }
  25% {
      @include transform(rotate(270deg));
  }
  37.5% {
      @include transform(rotate(405deg));
  }
  50% {
      @include transform(rotate(540deg));
  }
  62.5% {
      @include transform(rotate(675deg));
  }
  75% {
      @include transform(rotate(810deg));
  }
  87.5% {
      @include transform(rotate(945deg));
  }
  to {
      @include transform(rotate(1080deg));
  }
}

@keyframes spinner-easespin {
  12.5% {
      @include transform(rotate(135deg));
  }
  25% {
      @include transform(rotate(270deg));
  }
  37.5% {
      @include transform(rotate(405deg));
  }
  50% {
      @include transform(rotate(540deg));
  }
  62.5% {
      @include transform(rotate(675deg));
  }
  75% {
      @include transform(rotate(810deg));
  }
  87.5% {
      @include transform(rotate(945deg));
  }
  to {
      @include transform(rotate(1080deg));
  }
}

@-webkit-keyframes spinner-left-spin {
  0% {
      @include transform(rotate(130deg));
  }
  50% {
      @include transform(rotate(-5deg));
  }
  to {
      @include transform(rotate(130deg));
  }
}

@keyframes spinner-left-spin {
  0% {
      @include transform(rotate(130deg));
  }
  50% {
      @include transform(rotate(-5deg));
  }
  to {
      @include transform(rotate(130deg));
  }
}

@-webkit-keyframes right-spin {
  0% {
      @include transform(rotate(-130deg));
  }
  50% {
      @include transform(rotate(5deg));
  }
  to {
      @include transform(rotate(-130deg));
  }
}

@keyframes right-spin {
  0% {
      @include transform(rotate(-130deg));
  }
  50% {
      @include transform(rotate(5deg));
  }
  to {
      @include transform(rotate(-130deg));
  }
}
