

/*===== All Product Style 15 =====*/



.product-style-15{
    background-color: $white-variant;
    padding: 4px;
    border-radius: 4px;

    & .product-image{
        position: relative;

        & .product-item{
            & img{
                width: 100%;
                border-radius: 4px;
            }
        }         
        & .slick-arrow{
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            @include transition(0.3s);
            bottom: auto;
            left: 4px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: rgba($dark-color, 0.38);
            font-size: 32px;
            z-index: 5;
            cursor: pointer;

            &:hover{
                color: $dark-color;
            }
            &.next{
                right: 4px;
                left: auto;
            }
        }
    }

    & .product-content{        
        position: relative;
        z-index: 5;
        padding: 15px 0 0;

        & .title{
            & a{
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $dark-color;
                @include transition(0.3s);
                margin-top: 4px;

                @media #{$lg}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 20px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }

                &:hover{
                    color: $primary-color;
                }
            }
        }
        & p{
            color: $dark-variant;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            margin-top: 4px;
        }
        & .main-btn{
            margin-top: 12px;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: capitalize;
            height: 58px;
            line-height: 58px;

            @media #{$xs}{
                height: 45px;
                line-height: 45px;
            }
        }
    }
}
















