@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$mdi-font-path}/MaterialIcons-Regular.eot?v=#{$mdi-icon-version}'); /* For IE6-8 */
  src: url('#{$mdi-font-path}/MaterialIcons-Regular.eot?#iefix&v=#{$mdi-icon-version}') format('embedded-opentype'),
    url('#{$mdi-font-path}/MaterialIcons-Regular.woff2?v=#{$mdi-icon-version}') format('woff2'),
    url('#{$mdi-font-path}/MaterialIcons-Regular.woff?v=#{$mdi-icon-version}') format('woff'),
    url('#{$mdi-font-path}/MaterialIcons-Regular.ttf?v=#{$mdi-icon-version}') format('truetype'),
    url('#{$mdi-font-path}/MaterialIcons-Regular.svg?v=#{$mdi-icon-version}#materialiconregular') format('svg');
}

.#{$mdi-css-prefix} {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}