.#{$mdi-css-prefix}-3d-rotation:before { content: "\e84d"; }
.#{$mdi-css-prefix}-ac-unit:before { content: "\eb3b"; }
.#{$mdi-css-prefix}-access-alarm:before { content: "\e190"; }
.#{$mdi-css-prefix}-access-alarms:before { content: "\e191"; }
.#{$mdi-css-prefix}-access-time:before { content: "\e192"; }
.#{$mdi-css-prefix}-accessibility:before { content: "\e84e"; }
.#{$mdi-css-prefix}-accessible:before { content: "\e914"; }
.#{$mdi-css-prefix}-account-balance:before { content: "\e84f"; }
.#{$mdi-css-prefix}-account-balance-wallet:before { content: "\e850"; }
.#{$mdi-css-prefix}-account-box:before { content: "\e851"; }
.#{$mdi-css-prefix}-account-circle:before { content: "\e853"; }
.#{$mdi-css-prefix}-adb:before { content: "\e60e"; }
.#{$mdi-css-prefix}-add:before { content: "\e145"; }
.#{$mdi-css-prefix}-add-a-photo:before { content: "\e439"; }
.#{$mdi-css-prefix}-add-alarm:before { content: "\e193"; }
.#{$mdi-css-prefix}-add-alert:before { content: "\e003"; }
.#{$mdi-css-prefix}-add-box:before { content: "\e146"; }
.#{$mdi-css-prefix}-add-circle:before { content: "\e147"; }
.#{$mdi-css-prefix}-add-circle-outline:before { content: "\e148"; }
.#{$mdi-css-prefix}-add-location:before { content: "\e567"; }
.#{$mdi-css-prefix}-add-shopping-cart:before { content: "\e854"; }
.#{$mdi-css-prefix}-add-to-photos:before { content: "\e39d"; }
.#{$mdi-css-prefix}-add-to-queue:before { content: "\e05c"; }
.#{$mdi-css-prefix}-adjust:before { content: "\e39e"; }
.#{$mdi-css-prefix}-airline-seat-flat:before { content: "\e630"; }
.#{$mdi-css-prefix}-airline-seat-flat-angled:before { content: "\e631"; }
.#{$mdi-css-prefix}-airline-seat-individual-suite:before { content: "\e632"; }
.#{$mdi-css-prefix}-airline-seat-legroom-extra:before { content: "\e633"; }
.#{$mdi-css-prefix}-airline-seat-legroom-normal:before { content: "\e634"; }
.#{$mdi-css-prefix}-airline-seat-legroom-reduced:before { content: "\e635"; }
.#{$mdi-css-prefix}-airline-seat-recline-extra:before { content: "\e636"; }
.#{$mdi-css-prefix}-airline-seat-recline-normal:before { content: "\e637"; }
.#{$mdi-css-prefix}-airplanemode-active:before { content: "\e195"; }
.#{$mdi-css-prefix}-airplanemode-inactive:before { content: "\e194"; }
.#{$mdi-css-prefix}-airplay:before { content: "\e055"; }
.#{$mdi-css-prefix}-airport-shuttle:before { content: "\eb3c"; }
.#{$mdi-css-prefix}-alarm:before { content: "\e855"; }
.#{$mdi-css-prefix}-alarm-add:before { content: "\e856"; }
.#{$mdi-css-prefix}-alarm-off:before { content: "\e857"; }
.#{$mdi-css-prefix}-alarm-on:before { content: "\e858"; }
.#{$mdi-css-prefix}-album:before { content: "\e019"; }
.#{$mdi-css-prefix}-all-inclusive:before { content: "\eb3d"; }
.#{$mdi-css-prefix}-all-out:before { content: "\e90b"; }
.#{$mdi-css-prefix}-android:before { content: "\e859"; }
.#{$mdi-css-prefix}-announcement:before { content: "\e85a"; }
.#{$mdi-css-prefix}-apps:before { content: "\e5c3"; }
.#{$mdi-css-prefix}-archive:before { content: "\e149"; }
.#{$mdi-css-prefix}-arrow-back:before { content: "\e5c4"; }
.#{$mdi-css-prefix}-arrow-downward:before { content: "\e5db"; }
.#{$mdi-css-prefix}-arrow-drop-down:before { content: "\e5c5"; }
.#{$mdi-css-prefix}-arrow-drop-down-circle:before { content: "\e5c6"; }
.#{$mdi-css-prefix}-arrow-drop-up:before { content: "\e5c7"; }
.#{$mdi-css-prefix}-arrow-forward:before { content: "\e5c8"; }
.#{$mdi-css-prefix}-arrow-upward:before { content: "\e5d8"; }
.#{$mdi-css-prefix}-art-track:before { content: "\e060"; }
.#{$mdi-css-prefix}-aspect-ratio:before { content: "\e85b"; }
.#{$mdi-css-prefix}-assessment:before { content: "\e85c"; }
.#{$mdi-css-prefix}-assignment:before { content: "\e85d"; }
.#{$mdi-css-prefix}-assignment-ind:before { content: "\e85e"; }
.#{$mdi-css-prefix}-assignment-late:before { content: "\e85f"; }
.#{$mdi-css-prefix}-assignment-return:before { content: "\e860"; }
.#{$mdi-css-prefix}-assignment-returned:before { content: "\e861"; }
.#{$mdi-css-prefix}-assignment-turned-in:before { content: "\e862"; }
.#{$mdi-css-prefix}-assistant:before { content: "\e39f"; }
.#{$mdi-css-prefix}-assistant-photo:before { content: "\e3a0"; }
.#{$mdi-css-prefix}-attach-file:before { content: "\e226"; }
.#{$mdi-css-prefix}-attach-money:before { content: "\e227"; }
.#{$mdi-css-prefix}-attachment:before { content: "\e2bc"; }
.#{$mdi-css-prefix}-audiotrack:before { content: "\e3a1"; }
.#{$mdi-css-prefix}-autorenew:before { content: "\e863"; }
.#{$mdi-css-prefix}-av-timer:before { content: "\e01b"; }
.#{$mdi-css-prefix}-backspace:before { content: "\e14a"; }
.#{$mdi-css-prefix}-backup:before { content: "\e864"; }
.#{$mdi-css-prefix}-battery-alert:before { content: "\e19c"; }
.#{$mdi-css-prefix}-battery-charging-full:before { content: "\e1a3"; }
.#{$mdi-css-prefix}-battery-full:before { content: "\e1a4"; }
.#{$mdi-css-prefix}-battery-std:before { content: "\e1a5"; }
.#{$mdi-css-prefix}-battery-unknown:before { content: "\e1a6"; }
.#{$mdi-css-prefix}-beach-access:before { content: "\eb3e"; }
.#{$mdi-css-prefix}-beenhere:before { content: "\e52d"; }
.#{$mdi-css-prefix}-block:before { content: "\e14b"; }
.#{$mdi-css-prefix}-bluetooth:before { content: "\e1a7"; }
.#{$mdi-css-prefix}-bluetooth-audio:before { content: "\e60f"; }
.#{$mdi-css-prefix}-bluetooth-connected:before { content: "\e1a8"; }
.#{$mdi-css-prefix}-bluetooth-disabled:before { content: "\e1a9"; }
.#{$mdi-css-prefix}-bluetooth-searching:before { content: "\e1aa"; }
.#{$mdi-css-prefix}-blur-circular:before { content: "\e3a2"; }
.#{$mdi-css-prefix}-blur-linear:before { content: "\e3a3"; }
.#{$mdi-css-prefix}-blur-off:before { content: "\e3a4"; }
.#{$mdi-css-prefix}-blur-on:before { content: "\e3a5"; }
.#{$mdi-css-prefix}-book:before { content: "\e865"; }
.#{$mdi-css-prefix}-bookmark:before { content: "\e866"; }
.#{$mdi-css-prefix}-bookmark-border:before { content: "\e867"; }
.#{$mdi-css-prefix}-border-all:before { content: "\e228"; }
.#{$mdi-css-prefix}-border-bottom:before { content: "\e229"; }
.#{$mdi-css-prefix}-border-clear:before { content: "\e22a"; }
.#{$mdi-css-prefix}-border-color:before { content: "\e22b"; }
.#{$mdi-css-prefix}-border-horizontal:before { content: "\e22c"; }
.#{$mdi-css-prefix}-border-inner:before { content: "\e22d"; }
.#{$mdi-css-prefix}-border-left:before { content: "\e22e"; }
.#{$mdi-css-prefix}-border-outer:before { content: "\e22f"; }
.#{$mdi-css-prefix}-border-right:before { content: "\e230"; }
.#{$mdi-css-prefix}-border-style:before { content: "\e231"; }
.#{$mdi-css-prefix}-border-top:before { content: "\e232"; }
.#{$mdi-css-prefix}-border-vertical:before { content: "\e233"; }
.#{$mdi-css-prefix}-branding-watermark:before { content: "\e06b"; }
.#{$mdi-css-prefix}-brightness-1:before { content: "\e3a6"; }
.#{$mdi-css-prefix}-brightness-2:before { content: "\e3a7"; }
.#{$mdi-css-prefix}-brightness-3:before { content: "\e3a8"; }
.#{$mdi-css-prefix}-brightness-4:before { content: "\e3a9"; }
.#{$mdi-css-prefix}-brightness-5:before { content: "\e3aa"; }
.#{$mdi-css-prefix}-brightness-6:before { content: "\e3ab"; }
.#{$mdi-css-prefix}-brightness-7:before { content: "\e3ac"; }
.#{$mdi-css-prefix}-brightness-auto:before { content: "\e1ab"; }
.#{$mdi-css-prefix}-brightness-high:before { content: "\e1ac"; }
.#{$mdi-css-prefix}-brightness-low:before { content: "\e1ad"; }
.#{$mdi-css-prefix}-brightness-medium:before { content: "\e1ae"; }
.#{$mdi-css-prefix}-broken-image:before { content: "\e3ad"; }
.#{$mdi-css-prefix}-brush:before { content: "\e3ae"; }
.#{$mdi-css-prefix}-bubble-chart:before { content: "\e6dd"; }
.#{$mdi-css-prefix}-bug-report:before { content: "\e868"; }
.#{$mdi-css-prefix}-build:before { content: "\e869"; }
.#{$mdi-css-prefix}-burst-mode:before { content: "\e43c"; }
.#{$mdi-css-prefix}-business:before { content: "\e0af"; }
.#{$mdi-css-prefix}-business-center:before { content: "\eb3f"; }
.#{$mdi-css-prefix}-cached:before { content: "\e86a"; }
.#{$mdi-css-prefix}-cake:before { content: "\e7e9"; }
.#{$mdi-css-prefix}-call:before { content: "\e0b0"; }
.#{$mdi-css-prefix}-call-end:before { content: "\e0b1"; }
.#{$mdi-css-prefix}-call-made:before { content: "\e0b2"; }
.#{$mdi-css-prefix}-call-merge:before { content: "\e0b3"; }
.#{$mdi-css-prefix}-call-missed:before { content: "\e0b4"; }
.#{$mdi-css-prefix}-call-missed-outgoing:before { content: "\e0e4"; }
.#{$mdi-css-prefix}-call-received:before { content: "\e0b5"; }
.#{$mdi-css-prefix}-call-split:before { content: "\e0b6"; }
.#{$mdi-css-prefix}-call-to-action:before { content: "\e06c"; }
.#{$mdi-css-prefix}-camera:before { content: "\e3af"; }
.#{$mdi-css-prefix}-camera-alt:before { content: "\e3b0"; }
.#{$mdi-css-prefix}-camera-enhance:before { content: "\e8fc"; }
.#{$mdi-css-prefix}-camera-front:before { content: "\e3b1"; }
.#{$mdi-css-prefix}-camera-rear:before { content: "\e3b2"; }
.#{$mdi-css-prefix}-camera-roll:before { content: "\e3b3"; }
.#{$mdi-css-prefix}-cancel:before { content: "\e5c9"; }
.#{$mdi-css-prefix}-card-giftcard:before { content: "\e8f6"; }
.#{$mdi-css-prefix}-card-membership:before { content: "\e8f7"; }
.#{$mdi-css-prefix}-card-travel:before { content: "\e8f8"; }
.#{$mdi-css-prefix}-casino:before { content: "\eb40"; }
.#{$mdi-css-prefix}-cast:before { content: "\e307"; }
.#{$mdi-css-prefix}-cast-connected:before { content: "\e308"; }
.#{$mdi-css-prefix}-center-focus-strong:before { content: "\e3b4"; }
.#{$mdi-css-prefix}-center-focus-weak:before { content: "\e3b5"; }
.#{$mdi-css-prefix}-change-history:before { content: "\e86b"; }
.#{$mdi-css-prefix}-chat:before { content: "\e0b7"; }
.#{$mdi-css-prefix}-chat-bubble:before { content: "\e0ca"; }
.#{$mdi-css-prefix}-chat-bubble-outline:before { content: "\e0cb"; }
.#{$mdi-css-prefix}-check:before { content: "\e5ca"; }
.#{$mdi-css-prefix}-check-box:before { content: "\e834"; }
.#{$mdi-css-prefix}-check-box-outline-blank:before { content: "\e835"; }
.#{$mdi-css-prefix}-check-circle:before { content: "\e86c"; }
.#{$mdi-css-prefix}-chevron-left:before { content: "\e5cb"; }
.#{$mdi-css-prefix}-chevron-right:before { content: "\e5cc"; }
.#{$mdi-css-prefix}-child-care:before { content: "\eb41"; }
.#{$mdi-css-prefix}-child-friendly:before { content: "\eb42"; }
.#{$mdi-css-prefix}-chrome-reader-mode:before { content: "\e86d"; }
.#{$mdi-css-prefix}-class:before { content: "\e86e"; }
.#{$mdi-css-prefix}-clear:before { content: "\e14c"; }
.#{$mdi-css-prefix}-clear-all:before { content: "\e0b8"; }
.#{$mdi-css-prefix}-close:before { content: "\e5cd"; }
.#{$mdi-css-prefix}-closed-caption:before { content: "\e01c"; }
.#{$mdi-css-prefix}-cloud:before { content: "\e2bd"; }
.#{$mdi-css-prefix}-cloud-circle:before { content: "\e2be"; }
.#{$mdi-css-prefix}-cloud-done:before { content: "\e2bf"; }
.#{$mdi-css-prefix}-cloud-download:before { content: "\e2c0"; }
.#{$mdi-css-prefix}-cloud-off:before { content: "\e2c1"; }
.#{$mdi-css-prefix}-cloud-queue:before { content: "\e2c2"; }
.#{$mdi-css-prefix}-cloud-upload:before { content: "\e2c3"; }
.#{$mdi-css-prefix}-code:before { content: "\e86f"; }
.#{$mdi-css-prefix}-collections:before { content: "\e3b6"; }
.#{$mdi-css-prefix}-collections-bookmark:before { content: "\e431"; }
.#{$mdi-css-prefix}-color-lens:before { content: "\e3b7"; }
.#{$mdi-css-prefix}-colorize:before { content: "\e3b8"; }
.#{$mdi-css-prefix}-comment:before { content: "\e0b9"; }
.#{$mdi-css-prefix}-compare:before { content: "\e3b9"; }
.#{$mdi-css-prefix}-compare-arrows:before { content: "\e915"; }
.#{$mdi-css-prefix}-computer:before { content: "\e30a"; }
.#{$mdi-css-prefix}-confirmation-number:before { content: "\e638"; }
.#{$mdi-css-prefix}-contact-mail:before { content: "\e0d0"; }
.#{$mdi-css-prefix}-contact-phone:before { content: "\e0cf"; }
.#{$mdi-css-prefix}-contacts:before { content: "\e0ba"; }
.#{$mdi-css-prefix}-content-copy:before { content: "\e14d"; }
.#{$mdi-css-prefix}-content-cut:before { content: "\e14e"; }
.#{$mdi-css-prefix}-content-paste:before { content: "\e14f"; }
.#{$mdi-css-prefix}-control-point:before { content: "\e3ba"; }
.#{$mdi-css-prefix}-control-point-duplicate:before { content: "\e3bb"; }
.#{$mdi-css-prefix}-copyright:before { content: "\e90c"; }
.#{$mdi-css-prefix}-create:before { content: "\e150"; }
.#{$mdi-css-prefix}-create-new-folder:before { content: "\e2cc"; }
.#{$mdi-css-prefix}-credit-card:before { content: "\e870"; }
.#{$mdi-css-prefix}-crop:before { content: "\e3be"; }
.#{$mdi-css-prefix}-crop-16-9:before { content: "\e3bc"; }
.#{$mdi-css-prefix}-crop-3-2:before { content: "\e3bd"; }
.#{$mdi-css-prefix}-crop-5-4:before { content: "\e3bf"; }
.#{$mdi-css-prefix}-crop-7-5:before { content: "\e3c0"; }
.#{$mdi-css-prefix}-crop-din:before { content: "\e3c1"; }
.#{$mdi-css-prefix}-crop-free:before { content: "\e3c2"; }
.#{$mdi-css-prefix}-crop-landscape:before { content: "\e3c3"; }
.#{$mdi-css-prefix}-crop-original:before { content: "\e3c4"; }
.#{$mdi-css-prefix}-crop-portrait:before { content: "\e3c5"; }
.#{$mdi-css-prefix}-crop-rotate:before { content: "\e437"; }
.#{$mdi-css-prefix}-crop-square:before { content: "\e3c6"; }
.#{$mdi-css-prefix}-dashboard:before { content: "\e871"; }
.#{$mdi-css-prefix}-data-usage:before { content: "\e1af"; }
.#{$mdi-css-prefix}-date-range:before { content: "\e916"; }
.#{$mdi-css-prefix}-dehaze:before { content: "\e3c7"; }
.#{$mdi-css-prefix}-delete:before { content: "\e872"; }
.#{$mdi-css-prefix}-delete-forever:before { content: "\e92b"; }
.#{$mdi-css-prefix}-delete-sweep:before { content: "\e16c"; }
.#{$mdi-css-prefix}-description:before { content: "\e873"; }
.#{$mdi-css-prefix}-desktop-mac:before { content: "\e30b"; }
.#{$mdi-css-prefix}-desktop-windows:before { content: "\e30c"; }
.#{$mdi-css-prefix}-details:before { content: "\e3c8"; }
.#{$mdi-css-prefix}-developer-board:before { content: "\e30d"; }
.#{$mdi-css-prefix}-developer-mode:before { content: "\e1b0"; }
.#{$mdi-css-prefix}-device-hub:before { content: "\e335"; }
.#{$mdi-css-prefix}-devices:before { content: "\e1b1"; }
.#{$mdi-css-prefix}-devices-other:before { content: "\e337"; }
.#{$mdi-css-prefix}-dialer-sip:before { content: "\e0bb"; }
.#{$mdi-css-prefix}-dialpad:before { content: "\e0bc"; }
.#{$mdi-css-prefix}-directions:before { content: "\e52e"; }
.#{$mdi-css-prefix}-directions-bike:before { content: "\e52f"; }
.#{$mdi-css-prefix}-directions-boat:before { content: "\e532"; }
.#{$mdi-css-prefix}-directions-bus:before { content: "\e530"; }
.#{$mdi-css-prefix}-directions-car:before { content: "\e531"; }
.#{$mdi-css-prefix}-directions-railway:before { content: "\e534"; }
.#{$mdi-css-prefix}-directions-run:before { content: "\e566"; }
.#{$mdi-css-prefix}-directions-subway:before { content: "\e533"; }
.#{$mdi-css-prefix}-directions-transit:before { content: "\e535"; }
.#{$mdi-css-prefix}-directions-walk:before { content: "\e536"; }
.#{$mdi-css-prefix}-disc-full:before { content: "\e610"; }
.#{$mdi-css-prefix}-dns:before { content: "\e875"; }
.#{$mdi-css-prefix}-do-not-disturb:before { content: "\e612"; }
.#{$mdi-css-prefix}-do-not-disturb-alt:before { content: "\e611"; }
.#{$mdi-css-prefix}-do-not-disturb-off:before { content: "\e643"; }
.#{$mdi-css-prefix}-do-not-disturb-on:before { content: "\e644"; }
.#{$mdi-css-prefix}-dock:before { content: "\e30e"; }
.#{$mdi-css-prefix}-domain:before { content: "\e7ee"; }
.#{$mdi-css-prefix}-done:before { content: "\e876"; }
.#{$mdi-css-prefix}-done-all:before { content: "\e877"; }
.#{$mdi-css-prefix}-donut-large:before { content: "\e917"; }
.#{$mdi-css-prefix}-donut-small:before { content: "\e918"; }
.#{$mdi-css-prefix}-drafts:before { content: "\e151"; }
.#{$mdi-css-prefix}-drag-handle:before { content: "\e25d"; }
.#{$mdi-css-prefix}-drive-eta:before { content: "\e613"; }
.#{$mdi-css-prefix}-dvr:before { content: "\e1b2"; }
.#{$mdi-css-prefix}-edit:before { content: "\e3c9"; }
.#{$mdi-css-prefix}-edit-location:before { content: "\e568"; }
.#{$mdi-css-prefix}-eject:before { content: "\e8fb"; }
.#{$mdi-css-prefix}-email:before { content: "\e0be"; }
.#{$mdi-css-prefix}-enhanced-encryption:before { content: "\e63f"; }
.#{$mdi-css-prefix}-equalizer:before { content: "\e01d"; }
.#{$mdi-css-prefix}-error:before { content: "\e000"; }
.#{$mdi-css-prefix}-error-outline:before { content: "\e001"; }
.#{$mdi-css-prefix}-euro-symbol:before { content: "\e926"; }
.#{$mdi-css-prefix}-ev-station:before { content: "\e56d"; }
.#{$mdi-css-prefix}-event:before { content: "\e878"; }
.#{$mdi-css-prefix}-event-available:before { content: "\e614"; }
.#{$mdi-css-prefix}-event-busy:before { content: "\e615"; }
.#{$mdi-css-prefix}-event-note:before { content: "\e616"; }
.#{$mdi-css-prefix}-event-seat:before { content: "\e903"; }
.#{$mdi-css-prefix}-exit-to-app:before { content: "\e879"; }
.#{$mdi-css-prefix}-expand-less:before { content: "\e5ce"; }
.#{$mdi-css-prefix}-expand-more:before { content: "\e5cf"; }
.#{$mdi-css-prefix}-explicit:before { content: "\e01e"; }
.#{$mdi-css-prefix}-explore:before { content: "\e87a"; }
.#{$mdi-css-prefix}-exposure:before { content: "\e3ca"; }
.#{$mdi-css-prefix}-exposure-neg-1:before { content: "\e3cb"; }
.#{$mdi-css-prefix}-exposure-neg-2:before { content: "\e3cc"; }
.#{$mdi-css-prefix}-exposure-plus-1:before { content: "\e3cd"; }
.#{$mdi-css-prefix}-exposure-plus-2:before { content: "\e3ce"; }
.#{$mdi-css-prefix}-exposure-zero:before { content: "\e3cf"; }
.#{$mdi-css-prefix}-extension:before { content: "\e87b"; }
.#{$mdi-css-prefix}-face:before { content: "\e87c"; }
.#{$mdi-css-prefix}-fast-forward:before { content: "\e01f"; }
.#{$mdi-css-prefix}-fast-rewind:before { content: "\e020"; }
.#{$mdi-css-prefix}-favorite:before { content: "\e87d"; }
.#{$mdi-css-prefix}-favorite-border:before { content: "\e87e"; }
.#{$mdi-css-prefix}-featured-play-list:before { content: "\e06d"; }
.#{$mdi-css-prefix}-featured-video:before { content: "\e06e"; }
.#{$mdi-css-prefix}-feedback:before { content: "\e87f"; }
.#{$mdi-css-prefix}-fiber-dvr:before { content: "\e05d"; }
.#{$mdi-css-prefix}-fiber-manual-record:before { content: "\e061"; }
.#{$mdi-css-prefix}-fiber-new:before { content: "\e05e"; }
.#{$mdi-css-prefix}-fiber-pin:before { content: "\e06a"; }
.#{$mdi-css-prefix}-fiber-smart-record:before { content: "\e062"; }
.#{$mdi-css-prefix}-file-download:before { content: "\e2c4"; }
.#{$mdi-css-prefix}-file-upload:before { content: "\e2c6"; }
.#{$mdi-css-prefix}-filter:before { content: "\e3d3"; }
.#{$mdi-css-prefix}-filter-1:before { content: "\e3d0"; }
.#{$mdi-css-prefix}-filter-2:before { content: "\e3d1"; }
.#{$mdi-css-prefix}-filter-3:before { content: "\e3d2"; }
.#{$mdi-css-prefix}-filter-4:before { content: "\e3d4"; }
.#{$mdi-css-prefix}-filter-5:before { content: "\e3d5"; }
.#{$mdi-css-prefix}-filter-6:before { content: "\e3d6"; }
.#{$mdi-css-prefix}-filter-7:before { content: "\e3d7"; }
.#{$mdi-css-prefix}-filter-8:before { content: "\e3d8"; }
.#{$mdi-css-prefix}-filter-9:before { content: "\e3d9"; }
.#{$mdi-css-prefix}-filter-9-plus:before { content: "\e3da"; }
.#{$mdi-css-prefix}-filter-b-and-w:before { content: "\e3db"; }
.#{$mdi-css-prefix}-filter-center-focus:before { content: "\e3dc"; }
.#{$mdi-css-prefix}-filter-drama:before { content: "\e3dd"; }
.#{$mdi-css-prefix}-filter-frames:before { content: "\e3de"; }
.#{$mdi-css-prefix}-filter-hdr:before { content: "\e3df"; }
.#{$mdi-css-prefix}-filter-list:before { content: "\e152"; }
.#{$mdi-css-prefix}-filter-none:before { content: "\e3e0"; }
.#{$mdi-css-prefix}-filter-tilt-shift:before { content: "\e3e2"; }
.#{$mdi-css-prefix}-filter-vintage:before { content: "\e3e3"; }
.#{$mdi-css-prefix}-find-in-page:before { content: "\e880"; }
.#{$mdi-css-prefix}-find-replace:before { content: "\e881"; }
.#{$mdi-css-prefix}-fingerprint:before { content: "\e90d"; }
.#{$mdi-css-prefix}-first-page:before { content: "\e5dc"; }
.#{$mdi-css-prefix}-fitness-center:before { content: "\eb43"; }
.#{$mdi-css-prefix}-flag:before { content: "\e153"; }
.#{$mdi-css-prefix}-flare:before { content: "\e3e4"; }
.#{$mdi-css-prefix}-flash-auto:before { content: "\e3e5"; }
.#{$mdi-css-prefix}-flash-off:before { content: "\e3e6"; }
.#{$mdi-css-prefix}-flash-on:before { content: "\e3e7"; }
.#{$mdi-css-prefix}-flight:before { content: "\e539"; }
.#{$mdi-css-prefix}-flight-land:before { content: "\e904"; }
.#{$mdi-css-prefix}-flight-takeoff:before { content: "\e905"; }
.#{$mdi-css-prefix}-flip:before { content: "\e3e8"; }
.#{$mdi-css-prefix}-flip-to-back:before { content: "\e882"; }
.#{$mdi-css-prefix}-flip-to-front:before { content: "\e883"; }
.#{$mdi-css-prefix}-folder:before { content: "\e2c7"; }
.#{$mdi-css-prefix}-folder-open:before { content: "\e2c8"; }
.#{$mdi-css-prefix}-folder-shared:before { content: "\e2c9"; }
.#{$mdi-css-prefix}-folder-special:before { content: "\e617"; }
.#{$mdi-css-prefix}-font-download:before { content: "\e167"; }
.#{$mdi-css-prefix}-format-align-center:before { content: "\e234"; }
.#{$mdi-css-prefix}-format-align-justify:before { content: "\e235"; }
.#{$mdi-css-prefix}-format-align-left:before { content: "\e236"; }
.#{$mdi-css-prefix}-format-align-right:before { content: "\e237"; }
.#{$mdi-css-prefix}-format-bold:before { content: "\e238"; }
.#{$mdi-css-prefix}-format-clear:before { content: "\e239"; }
.#{$mdi-css-prefix}-format-color-fill:before { content: "\e23a"; }
.#{$mdi-css-prefix}-format-color-reset:before { content: "\e23b"; }
.#{$mdi-css-prefix}-format-color-text:before { content: "\e23c"; }
.#{$mdi-css-prefix}-format-indent-decrease:before { content: "\e23d"; }
.#{$mdi-css-prefix}-format-indent-increase:before { content: "\e23e"; }
.#{$mdi-css-prefix}-format-italic:before { content: "\e23f"; }
.#{$mdi-css-prefix}-format-line-spacing:before { content: "\e240"; }
.#{$mdi-css-prefix}-format-list-bulleted:before { content: "\e241"; }
.#{$mdi-css-prefix}-format-list-numbered:before { content: "\e242"; }
.#{$mdi-css-prefix}-format-paint:before { content: "\e243"; }
.#{$mdi-css-prefix}-format-quote:before { content: "\e244"; }
.#{$mdi-css-prefix}-format-shapes:before { content: "\e25e"; }
.#{$mdi-css-prefix}-format-size:before { content: "\e245"; }
.#{$mdi-css-prefix}-format-strikethrough:before { content: "\e246"; }
.#{$mdi-css-prefix}-format-textdirection-l-to-r:before { content: "\e247"; }
.#{$mdi-css-prefix}-format-textdirection-r-to-l:before { content: "\e248"; }
.#{$mdi-css-prefix}-format-underlined:before { content: "\e249"; }
.#{$mdi-css-prefix}-forum:before { content: "\e0bf"; }
.#{$mdi-css-prefix}-forward:before { content: "\e154"; }
.#{$mdi-css-prefix}-forward-10:before { content: "\e056"; }
.#{$mdi-css-prefix}-forward-30:before { content: "\e057"; }
.#{$mdi-css-prefix}-forward-5:before { content: "\e058"; }
.#{$mdi-css-prefix}-free-breakfast:before { content: "\eb44"; }
.#{$mdi-css-prefix}-fullscreen:before { content: "\e5d0"; }
.#{$mdi-css-prefix}-fullscreen-exit:before { content: "\e5d1"; }
.#{$mdi-css-prefix}-functions:before { content: "\e24a"; }
.#{$mdi-css-prefix}-g-translate:before { content: "\e927"; }
.#{$mdi-css-prefix}-gamepad:before { content: "\e30f"; }
.#{$mdi-css-prefix}-games:before { content: "\e021"; }
.#{$mdi-css-prefix}-gavel:before { content: "\e90e"; }
.#{$mdi-css-prefix}-gesture:before { content: "\e155"; }
.#{$mdi-css-prefix}-get-app:before { content: "\e884"; }
.#{$mdi-css-prefix}-gif:before { content: "\e908"; }
.#{$mdi-css-prefix}-golf-course:before { content: "\eb45"; }
.#{$mdi-css-prefix}-gps-fixed:before { content: "\e1b3"; }
.#{$mdi-css-prefix}-gps-not-fixed:before { content: "\e1b4"; }
.#{$mdi-css-prefix}-gps-off:before { content: "\e1b5"; }
.#{$mdi-css-prefix}-grade:before { content: "\e885"; }
.#{$mdi-css-prefix}-gradient:before { content: "\e3e9"; }
.#{$mdi-css-prefix}-grain:before { content: "\e3ea"; }
.#{$mdi-css-prefix}-graphic-eq:before { content: "\e1b8"; }
.#{$mdi-css-prefix}-grid-off:before { content: "\e3eb"; }
.#{$mdi-css-prefix}-grid-on:before { content: "\e3ec"; }
.#{$mdi-css-prefix}-group:before { content: "\e7ef"; }
.#{$mdi-css-prefix}-group-add:before { content: "\e7f0"; }
.#{$mdi-css-prefix}-group-work:before { content: "\e886"; }
.#{$mdi-css-prefix}-hd:before { content: "\e052"; }
.#{$mdi-css-prefix}-hdr-off:before { content: "\e3ed"; }
.#{$mdi-css-prefix}-hdr-on:before { content: "\e3ee"; }
.#{$mdi-css-prefix}-hdr-strong:before { content: "\e3f1"; }
.#{$mdi-css-prefix}-hdr-weak:before { content: "\e3f2"; }
.#{$mdi-css-prefix}-headset:before { content: "\e310"; }
.#{$mdi-css-prefix}-headset-mic:before { content: "\e311"; }
.#{$mdi-css-prefix}-healing:before { content: "\e3f3"; }
.#{$mdi-css-prefix}-hearing:before { content: "\e023"; }
.#{$mdi-css-prefix}-help:before { content: "\e887"; }
.#{$mdi-css-prefix}-help-outline:before { content: "\e8fd"; }
.#{$mdi-css-prefix}-high-quality:before { content: "\e024"; }
.#{$mdi-css-prefix}-highlight:before { content: "\e25f"; }
.#{$mdi-css-prefix}-highlight-off:before { content: "\e888"; }
.#{$mdi-css-prefix}-history:before { content: "\e889"; }
.#{$mdi-css-prefix}-home:before { content: "\e88a"; }
.#{$mdi-css-prefix}-hot-tub:before { content: "\eb46"; }
.#{$mdi-css-prefix}-hotel:before { content: "\e53a"; }
.#{$mdi-css-prefix}-hourglass-empty:before { content: "\e88b"; }
.#{$mdi-css-prefix}-hourglass-full:before { content: "\e88c"; }
.#{$mdi-css-prefix}-http:before { content: "\e902"; }
.#{$mdi-css-prefix}-https:before { content: "\e88d"; }
.#{$mdi-css-prefix}-image:before { content: "\e3f4"; }
.#{$mdi-css-prefix}-image-aspect-ratio:before { content: "\e3f5"; }
.#{$mdi-css-prefix}-import-contacts:before { content: "\e0e0"; }
.#{$mdi-css-prefix}-import-export:before { content: "\e0c3"; }
.#{$mdi-css-prefix}-important-devices:before { content: "\e912"; }
.#{$mdi-css-prefix}-inbox:before { content: "\e156"; }
.#{$mdi-css-prefix}-indeterminate-check-box:before { content: "\e909"; }
.#{$mdi-css-prefix}-info:before { content: "\e88e"; }
.#{$mdi-css-prefix}-info-outline:before { content: "\e88f"; }
.#{$mdi-css-prefix}-input:before { content: "\e890"; }
.#{$mdi-css-prefix}-insert-chart:before { content: "\e24b"; }
.#{$mdi-css-prefix}-insert-comment:before { content: "\e24c"; }
.#{$mdi-css-prefix}-insert-drive-file:before { content: "\e24d"; }
.#{$mdi-css-prefix}-insert-emoticon:before { content: "\e24e"; }
.#{$mdi-css-prefix}-insert-invitation:before { content: "\e24f"; }
.#{$mdi-css-prefix}-insert-link:before { content: "\e250"; }
.#{$mdi-css-prefix}-insert-photo:before { content: "\e251"; }
.#{$mdi-css-prefix}-invert-colors:before { content: "\e891"; }
.#{$mdi-css-prefix}-invert-colors-off:before { content: "\e0c4"; }
.#{$mdi-css-prefix}-iso:before { content: "\e3f6"; }
.#{$mdi-css-prefix}-keyboard:before { content: "\e312"; }
.#{$mdi-css-prefix}-keyboard-arrow-down:before { content: "\e313"; }
.#{$mdi-css-prefix}-keyboard-arrow-left:before { content: "\e314"; }
.#{$mdi-css-prefix}-keyboard-arrow-right:before { content: "\e315"; }
.#{$mdi-css-prefix}-keyboard-arrow-up:before { content: "\e316"; }
.#{$mdi-css-prefix}-keyboard-backspace:before { content: "\e317"; }
.#{$mdi-css-prefix}-keyboard-capslock:before { content: "\e318"; }
.#{$mdi-css-prefix}-keyboard-hide:before { content: "\e31a"; }
.#{$mdi-css-prefix}-keyboard-return:before { content: "\e31b"; }
.#{$mdi-css-prefix}-keyboard-tab:before { content: "\e31c"; }
.#{$mdi-css-prefix}-keyboard-voice:before { content: "\e31d"; }
.#{$mdi-css-prefix}-kitchen:before { content: "\eb47"; }
.#{$mdi-css-prefix}-label:before { content: "\e892"; }
.#{$mdi-css-prefix}-label-outline:before { content: "\e893"; }
.#{$mdi-css-prefix}-landscape:before { content: "\e3f7"; }
.#{$mdi-css-prefix}-language:before { content: "\e894"; }
.#{$mdi-css-prefix}-laptop:before { content: "\e31e"; }
.#{$mdi-css-prefix}-laptop-chromebook:before { content: "\e31f"; }
.#{$mdi-css-prefix}-laptop-mac:before { content: "\e320"; }
.#{$mdi-css-prefix}-laptop-windows:before { content: "\e321"; }
.#{$mdi-css-prefix}-last-page:before { content: "\e5dd"; }
.#{$mdi-css-prefix}-launch:before { content: "\e895"; }
.#{$mdi-css-prefix}-layers:before { content: "\e53b"; }
.#{$mdi-css-prefix}-layers-clear:before { content: "\e53c"; }
.#{$mdi-css-prefix}-leak-add:before { content: "\e3f8"; }
.#{$mdi-css-prefix}-leak-remove:before { content: "\e3f9"; }
.#{$mdi-css-prefix}-lens:before { content: "\e3fa"; }
.#{$mdi-css-prefix}-library-add:before { content: "\e02e"; }
.#{$mdi-css-prefix}-library-books:before { content: "\e02f"; }
.#{$mdi-css-prefix}-library-music:before { content: "\e030"; }
.#{$mdi-css-prefix}-lightbulb-outline:before { content: "\e90f"; }
.#{$mdi-css-prefix}-line-style:before { content: "\e919"; }
.#{$mdi-css-prefix}-line-weight:before { content: "\e91a"; }
.#{$mdi-css-prefix}-linear-scale:before { content: "\e260"; }
.#{$mdi-css-prefix}-link:before { content: "\e157"; }
.#{$mdi-css-prefix}-linked-camera:before { content: "\e438"; }
.#{$mdi-css-prefix}-list:before { content: "\e896"; }
.#{$mdi-css-prefix}-live-help:before { content: "\e0c6"; }
.#{$mdi-css-prefix}-live-tv:before { content: "\e639"; }
.#{$mdi-css-prefix}-local-activity:before { content: "\e53f"; }
.#{$mdi-css-prefix}-local-airport:before { content: "\e53d"; }
.#{$mdi-css-prefix}-local-atm:before { content: "\e53e"; }
.#{$mdi-css-prefix}-local-bar:before { content: "\e540"; }
.#{$mdi-css-prefix}-local-cafe:before { content: "\e541"; }
.#{$mdi-css-prefix}-local-car-wash:before { content: "\e542"; }
.#{$mdi-css-prefix}-local-convenience-store:before { content: "\e543"; }
.#{$mdi-css-prefix}-local-dining:before { content: "\e556"; }
.#{$mdi-css-prefix}-local-drink:before { content: "\e544"; }
.#{$mdi-css-prefix}-local-florist:before { content: "\e545"; }
.#{$mdi-css-prefix}-local-gas-station:before { content: "\e546"; }
.#{$mdi-css-prefix}-local-grocery-store:before { content: "\e547"; }
.#{$mdi-css-prefix}-local-hospital:before { content: "\e548"; }
.#{$mdi-css-prefix}-local-hotel:before { content: "\e549"; }
.#{$mdi-css-prefix}-local-laundry-service:before { content: "\e54a"; }
.#{$mdi-css-prefix}-local-library:before { content: "\e54b"; }
.#{$mdi-css-prefix}-local-mall:before { content: "\e54c"; }
.#{$mdi-css-prefix}-local-movies:before { content: "\e54d"; }
.#{$mdi-css-prefix}-local-offer:before { content: "\e54e"; }
.#{$mdi-css-prefix}-local-parking:before { content: "\e54f"; }
.#{$mdi-css-prefix}-local-pharmacy:before { content: "\e550"; }
.#{$mdi-css-prefix}-local-phone:before { content: "\e551"; }
.#{$mdi-css-prefix}-local-pizza:before { content: "\e552"; }
.#{$mdi-css-prefix}-local-play:before { content: "\e553"; }
.#{$mdi-css-prefix}-local-post-office:before { content: "\e554"; }
.#{$mdi-css-prefix}-local-printshop:before { content: "\e555"; }
.#{$mdi-css-prefix}-local-see:before { content: "\e557"; }
.#{$mdi-css-prefix}-local-shipping:before { content: "\e558"; }
.#{$mdi-css-prefix}-local-taxi:before { content: "\e559"; }
.#{$mdi-css-prefix}-location-city:before { content: "\e7f1"; }
.#{$mdi-css-prefix}-location-disabled:before { content: "\e1b6"; }
.#{$mdi-css-prefix}-location-off:before { content: "\e0c7"; }
.#{$mdi-css-prefix}-location-on:before { content: "\e0c8"; }
.#{$mdi-css-prefix}-location-searching:before { content: "\e1b7"; }
.#{$mdi-css-prefix}-lock:before { content: "\e897"; }
.#{$mdi-css-prefix}-lock-open:before { content: "\e898"; }
.#{$mdi-css-prefix}-lock-outline:before { content: "\e899"; }
.#{$mdi-css-prefix}-looks:before { content: "\e3fc"; }
.#{$mdi-css-prefix}-looks-3:before { content: "\e3fb"; }
.#{$mdi-css-prefix}-looks-4:before { content: "\e3fd"; }
.#{$mdi-css-prefix}-looks-5:before { content: "\e3fe"; }
.#{$mdi-css-prefix}-looks-6:before { content: "\e3ff"; }
.#{$mdi-css-prefix}-looks-one:before { content: "\e400"; }
.#{$mdi-css-prefix}-looks-two:before { content: "\e401"; }
.#{$mdi-css-prefix}-loop:before { content: "\e028"; }
.#{$mdi-css-prefix}-loupe:before { content: "\e402"; }
.#{$mdi-css-prefix}-low-priority:before { content: "\e16d"; }
.#{$mdi-css-prefix}-loyalty:before { content: "\e89a"; }
.#{$mdi-css-prefix}-mail:before { content: "\e158"; }
.#{$mdi-css-prefix}-mail-outline:before { content: "\e0e1"; }
.#{$mdi-css-prefix}-map:before { content: "\e55b"; }
.#{$mdi-css-prefix}-markunread:before { content: "\e159"; }
.#{$mdi-css-prefix}-markunread-mailbox:before { content: "\e89b"; }
.#{$mdi-css-prefix}-memory:before { content: "\e322"; }
.#{$mdi-css-prefix}-menu:before { content: "\e5d2"; }
.#{$mdi-css-prefix}-merge-type:before { content: "\e252"; }
.#{$mdi-css-prefix}-message:before { content: "\e0c9"; }
.#{$mdi-css-prefix}-mic:before { content: "\e029"; }
.#{$mdi-css-prefix}-mic-none:before { content: "\e02a"; }
.#{$mdi-css-prefix}-mic-off:before { content: "\e02b"; }
.#{$mdi-css-prefix}-mms:before { content: "\e618"; }
.#{$mdi-css-prefix}-mode-comment:before { content: "\e253"; }
.#{$mdi-css-prefix}-mode-edit:before { content: "\e254"; }
.#{$mdi-css-prefix}-monetization-on:before { content: "\e263"; }
.#{$mdi-css-prefix}-money-off:before { content: "\e25c"; }
.#{$mdi-css-prefix}-monochrome-photos:before { content: "\e403"; }
.#{$mdi-css-prefix}-mood:before { content: "\e7f2"; }
.#{$mdi-css-prefix}-mood-bad:before { content: "\e7f3"; }
.#{$mdi-css-prefix}-more:before { content: "\e619"; }
.#{$mdi-css-prefix}-more-horiz:before { content: "\e5d3"; }
.#{$mdi-css-prefix}-more-vert:before { content: "\e5d4"; }
.#{$mdi-css-prefix}-motorcycle:before { content: "\e91b"; }
.#{$mdi-css-prefix}-mouse:before { content: "\e323"; }
.#{$mdi-css-prefix}-move-to-inbox:before { content: "\e168"; }
.#{$mdi-css-prefix}-movie:before { content: "\e02c"; }
.#{$mdi-css-prefix}-movie-creation:before { content: "\e404"; }
.#{$mdi-css-prefix}-movie-filter:before { content: "\e43a"; }
.#{$mdi-css-prefix}-multiline-chart:before { content: "\e6df"; }
.#{$mdi-css-prefix}-music-note:before { content: "\e405"; }
.#{$mdi-css-prefix}-music-video:before { content: "\e063"; }
.#{$mdi-css-prefix}-my-location:before { content: "\e55c"; }
.#{$mdi-css-prefix}-nature:before { content: "\e406"; }
.#{$mdi-css-prefix}-nature-people:before { content: "\e407"; }
.#{$mdi-css-prefix}-navigate-before:before { content: "\e408"; }
.#{$mdi-css-prefix}-navigate-next:before { content: "\e409"; }
.#{$mdi-css-prefix}-navigation:before { content: "\e55d"; }
.#{$mdi-css-prefix}-near-me:before { content: "\e569"; }
.#{$mdi-css-prefix}-network-cell:before { content: "\e1b9"; }
.#{$mdi-css-prefix}-network-check:before { content: "\e640"; }
.#{$mdi-css-prefix}-network-locked:before { content: "\e61a"; }
.#{$mdi-css-prefix}-network-wifi:before { content: "\e1ba"; }
.#{$mdi-css-prefix}-new-releases:before { content: "\e031"; }
.#{$mdi-css-prefix}-next-week:before { content: "\e16a"; }
.#{$mdi-css-prefix}-nfc:before { content: "\e1bb"; }
.#{$mdi-css-prefix}-no-encryption:before { content: "\e641"; }
.#{$mdi-css-prefix}-no-sim:before { content: "\e0cc"; }
.#{$mdi-css-prefix}-not-interested:before { content: "\e033"; }
.#{$mdi-css-prefix}-note:before { content: "\e06f"; }
.#{$mdi-css-prefix}-note-add:before { content: "\e89c"; }
.#{$mdi-css-prefix}-notifications:before { content: "\e7f4"; }
.#{$mdi-css-prefix}-notifications-active:before { content: "\e7f7"; }
.#{$mdi-css-prefix}-notifications-none:before { content: "\e7f5"; }
.#{$mdi-css-prefix}-notifications-off:before { content: "\e7f6"; }
.#{$mdi-css-prefix}-notifications-paused:before { content: "\e7f8"; }
.#{$mdi-css-prefix}-offline-pin:before { content: "\e90a"; }
.#{$mdi-css-prefix}-ondemand-video:before { content: "\e63a"; }
.#{$mdi-css-prefix}-opacity:before { content: "\e91c"; }
.#{$mdi-css-prefix}-open-in-browser:before { content: "\e89d"; }
.#{$mdi-css-prefix}-open-in-new:before { content: "\e89e"; }
.#{$mdi-css-prefix}-open-with:before { content: "\e89f"; }
.#{$mdi-css-prefix}-pages:before { content: "\e7f9"; }
.#{$mdi-css-prefix}-pageview:before { content: "\e8a0"; }
.#{$mdi-css-prefix}-palette:before { content: "\e40a"; }
.#{$mdi-css-prefix}-pan-tool:before { content: "\e925"; }
.#{$mdi-css-prefix}-panorama:before { content: "\e40b"; }
.#{$mdi-css-prefix}-panorama-fish-eye:before { content: "\e40c"; }
.#{$mdi-css-prefix}-panorama-horizontal:before { content: "\e40d"; }
.#{$mdi-css-prefix}-panorama-vertical:before { content: "\e40e"; }
.#{$mdi-css-prefix}-panorama-wide-angle:before { content: "\e40f"; }
.#{$mdi-css-prefix}-party-mode:before { content: "\e7fa"; }
.#{$mdi-css-prefix}-pause:before { content: "\e034"; }
.#{$mdi-css-prefix}-pause-circle-filled:before { content: "\e035"; }
.#{$mdi-css-prefix}-pause-circle-outline:before { content: "\e036"; }
.#{$mdi-css-prefix}-payment:before { content: "\e8a1"; }
.#{$mdi-css-prefix}-people:before { content: "\e7fb"; }
.#{$mdi-css-prefix}-people-outline:before { content: "\e7fc"; }
.#{$mdi-css-prefix}-perm-camera-mic:before { content: "\e8a2"; }
.#{$mdi-css-prefix}-perm-contact-calendar:before { content: "\e8a3"; }
.#{$mdi-css-prefix}-perm-data-setting:before { content: "\e8a4"; }
.#{$mdi-css-prefix}-perm-device-information:before { content: "\e8a5"; }
.#{$mdi-css-prefix}-perm-identity:before { content: "\e8a6"; }
.#{$mdi-css-prefix}-perm-media:before { content: "\e8a7"; }
.#{$mdi-css-prefix}-perm-phone-msg:before { content: "\e8a8"; }
.#{$mdi-css-prefix}-perm-scan-wifi:before { content: "\e8a9"; }
.#{$mdi-css-prefix}-person:before { content: "\e7fd"; }
.#{$mdi-css-prefix}-person-add:before { content: "\e7fe"; }
.#{$mdi-css-prefix}-person-outline:before { content: "\e7ff"; }
.#{$mdi-css-prefix}-person-pin:before { content: "\e55a"; }
.#{$mdi-css-prefix}-person-pin-circle:before { content: "\e56a"; }
.#{$mdi-css-prefix}-personal-video:before { content: "\e63b"; }
.#{$mdi-css-prefix}-pets:before { content: "\e91d"; }
.#{$mdi-css-prefix}-phone:before { content: "\e0cd"; }
.#{$mdi-css-prefix}-phone-android:before { content: "\e324"; }
.#{$mdi-css-prefix}-phone-bluetooth-speaker:before { content: "\e61b"; }
.#{$mdi-css-prefix}-phone-forwarded:before { content: "\e61c"; }
.#{$mdi-css-prefix}-phone-in-talk:before { content: "\e61d"; }
.#{$mdi-css-prefix}-phone-iphone:before { content: "\e325"; }
.#{$mdi-css-prefix}-phone-locked:before { content: "\e61e"; }
.#{$mdi-css-prefix}-phone-missed:before { content: "\e61f"; }
.#{$mdi-css-prefix}-phone-paused:before { content: "\e620"; }
.#{$mdi-css-prefix}-phonelink:before { content: "\e326"; }
.#{$mdi-css-prefix}-phonelink-erase:before { content: "\e0db"; }
.#{$mdi-css-prefix}-phonelink-lock:before { content: "\e0dc"; }
.#{$mdi-css-prefix}-phonelink-off:before { content: "\e327"; }
.#{$mdi-css-prefix}-phonelink-ring:before { content: "\e0dd"; }
.#{$mdi-css-prefix}-phonelink-setup:before { content: "\e0de"; }
.#{$mdi-css-prefix}-photo:before { content: "\e410"; }
.#{$mdi-css-prefix}-photo-album:before { content: "\e411"; }
.#{$mdi-css-prefix}-photo-camera:before { content: "\e412"; }
.#{$mdi-css-prefix}-photo-filter:before { content: "\e43b"; }
.#{$mdi-css-prefix}-photo-library:before { content: "\e413"; }
.#{$mdi-css-prefix}-photo-size-select-actual:before { content: "\e432"; }
.#{$mdi-css-prefix}-photo-size-select-large:before { content: "\e433"; }
.#{$mdi-css-prefix}-photo-size-select-small:before { content: "\e434"; }
.#{$mdi-css-prefix}-picture-as-pdf:before { content: "\e415"; }
.#{$mdi-css-prefix}-picture-in-picture:before { content: "\e8aa"; }
.#{$mdi-css-prefix}-picture-in-picture-alt:before { content: "\e911"; }
.#{$mdi-css-prefix}-pie-chart:before { content: "\e6c4"; }
.#{$mdi-css-prefix}-pie-chart-outlined:before { content: "\e6c5"; }
.#{$mdi-css-prefix}-pin-drop:before { content: "\e55e"; }
.#{$mdi-css-prefix}-place:before { content: "\e55f"; }
.#{$mdi-css-prefix}-play-arrow:before { content: "\e037"; }
.#{$mdi-css-prefix}-play-circle-filled:before { content: "\e038"; }
.#{$mdi-css-prefix}-play-circle-outline:before { content: "\e039"; }
.#{$mdi-css-prefix}-play-for-work:before { content: "\e906"; }
.#{$mdi-css-prefix}-playlist-add:before { content: "\e03b"; }
.#{$mdi-css-prefix}-playlist-add-check:before { content: "\e065"; }
.#{$mdi-css-prefix}-playlist-play:before { content: "\e05f"; }
.#{$mdi-css-prefix}-plus-one:before { content: "\e800"; }
.#{$mdi-css-prefix}-poll:before { content: "\e801"; }
.#{$mdi-css-prefix}-polymer:before { content: "\e8ab"; }
.#{$mdi-css-prefix}-pool:before { content: "\eb48"; }
.#{$mdi-css-prefix}-portable-wifi-off:before { content: "\e0ce"; }
.#{$mdi-css-prefix}-portrait:before { content: "\e416"; }
.#{$mdi-css-prefix}-power:before { content: "\e63c"; }
.#{$mdi-css-prefix}-power-input:before { content: "\e336"; }
.#{$mdi-css-prefix}-power-settings-new:before { content: "\e8ac"; }
.#{$mdi-css-prefix}-pregnant-woman:before { content: "\e91e"; }
.#{$mdi-css-prefix}-present-to-all:before { content: "\e0df"; }
.#{$mdi-css-prefix}-print:before { content: "\e8ad"; }
.#{$mdi-css-prefix}-priority-high:before { content: "\e645"; }
.#{$mdi-css-prefix}-public:before { content: "\e80b"; }
.#{$mdi-css-prefix}-publish:before { content: "\e255"; }
.#{$mdi-css-prefix}-query-builder:before { content: "\e8ae"; }
.#{$mdi-css-prefix}-question-answer:before { content: "\e8af"; }
.#{$mdi-css-prefix}-queue:before { content: "\e03c"; }
.#{$mdi-css-prefix}-queue-music:before { content: "\e03d"; }
.#{$mdi-css-prefix}-queue-play-next:before { content: "\e066"; }
.#{$mdi-css-prefix}-radio:before { content: "\e03e"; }
.#{$mdi-css-prefix}-radio-button-checked:before { content: "\e837"; }
.#{$mdi-css-prefix}-radio-button-unchecked:before { content: "\e836"; }
.#{$mdi-css-prefix}-rate-review:before { content: "\e560"; }
.#{$mdi-css-prefix}-receipt:before { content: "\e8b0"; }
.#{$mdi-css-prefix}-recent-actors:before { content: "\e03f"; }
.#{$mdi-css-prefix}-record-voice-over:before { content: "\e91f"; }
.#{$mdi-css-prefix}-redeem:before { content: "\e8b1"; }
.#{$mdi-css-prefix}-redo:before { content: "\e15a"; }
.#{$mdi-css-prefix}-refresh:before { content: "\e5d5"; }
.#{$mdi-css-prefix}-remove:before { content: "\e15b"; }
.#{$mdi-css-prefix}-remove-circle:before { content: "\e15c"; }
.#{$mdi-css-prefix}-remove-circle-outline:before { content: "\e15d"; }
.#{$mdi-css-prefix}-remove-from-queue:before { content: "\e067"; }
.#{$mdi-css-prefix}-remove-red-eye:before { content: "\e417"; }
.#{$mdi-css-prefix}-remove-shopping-cart:before { content: "\e928"; }
.#{$mdi-css-prefix}-reorder:before { content: "\e8fe"; }
.#{$mdi-css-prefix}-repeat:before { content: "\e040"; }
.#{$mdi-css-prefix}-repeat-one:before { content: "\e041"; }
.#{$mdi-css-prefix}-replay:before { content: "\e042"; }
.#{$mdi-css-prefix}-replay-10:before { content: "\e059"; }
.#{$mdi-css-prefix}-replay-30:before { content: "\e05a"; }
.#{$mdi-css-prefix}-replay-5:before { content: "\e05b"; }
.#{$mdi-css-prefix}-reply:before { content: "\e15e"; }
.#{$mdi-css-prefix}-reply-all:before { content: "\e15f"; }
.#{$mdi-css-prefix}-report:before { content: "\e160"; }
.#{$mdi-css-prefix}-report-problem:before { content: "\e8b2"; }
.#{$mdi-css-prefix}-restaurant:before { content: "\e56c"; }
.#{$mdi-css-prefix}-restaurant-menu:before { content: "\e561"; }
.#{$mdi-css-prefix}-restore:before { content: "\e8b3"; }
.#{$mdi-css-prefix}-restore-page:before { content: "\e929"; }
.#{$mdi-css-prefix}-ring-volume:before { content: "\e0d1"; }
.#{$mdi-css-prefix}-room:before { content: "\e8b4"; }
.#{$mdi-css-prefix}-room-service:before { content: "\eb49"; }
.#{$mdi-css-prefix}-rotate-90-degrees-ccw:before { content: "\e418"; }
.#{$mdi-css-prefix}-rotate-left:before { content: "\e419"; }
.#{$mdi-css-prefix}-rotate-right:before { content: "\e41a"; }
.#{$mdi-css-prefix}-rounded-corner:before { content: "\e920"; }
.#{$mdi-css-prefix}-router:before { content: "\e328"; }
.#{$mdi-css-prefix}-rowing:before { content: "\e921"; }
.#{$mdi-css-prefix}-rss-feed:before { content: "\e0e5"; }
.#{$mdi-css-prefix}-rv-hookup:before { content: "\e642"; }
.#{$mdi-css-prefix}-satellite:before { content: "\e562"; }
.#{$mdi-css-prefix}-save:before { content: "\e161"; }
.#{$mdi-css-prefix}-scanner:before { content: "\e329"; }
.#{$mdi-css-prefix}-schedule:before { content: "\e8b5"; }
.#{$mdi-css-prefix}-school:before { content: "\e80c"; }
.#{$mdi-css-prefix}-screen-lock-landscape:before { content: "\e1be"; }
.#{$mdi-css-prefix}-screen-lock-portrait:before { content: "\e1bf"; }
.#{$mdi-css-prefix}-screen-lock-rotation:before { content: "\e1c0"; }
.#{$mdi-css-prefix}-screen-rotation:before { content: "\e1c1"; }
.#{$mdi-css-prefix}-screen-share:before { content: "\e0e2"; }
.#{$mdi-css-prefix}-sd-card:before { content: "\e623"; }
.#{$mdi-css-prefix}-sd-storage:before { content: "\e1c2"; }
.#{$mdi-css-prefix}-search:before { content: "\e8b6"; }
.#{$mdi-css-prefix}-security:before { content: "\e32a"; }
.#{$mdi-css-prefix}-select-all:before { content: "\e162"; }
.#{$mdi-css-prefix}-send:before { content: "\e163"; }
.#{$mdi-css-prefix}-sentiment-dissatisfied:before { content: "\e811"; }
.#{$mdi-css-prefix}-sentiment-neutral:before { content: "\e812"; }
.#{$mdi-css-prefix}-sentiment-satisfied:before { content: "\e813"; }
.#{$mdi-css-prefix}-sentiment-very-dissatisfied:before { content: "\e814"; }
.#{$mdi-css-prefix}-sentiment-very-satisfied:before { content: "\e815"; }
.#{$mdi-css-prefix}-settings:before { content: "\e8b8"; }
.#{$mdi-css-prefix}-settings-applications:before { content: "\e8b9"; }
.#{$mdi-css-prefix}-settings-backup-restore:before { content: "\e8ba"; }
.#{$mdi-css-prefix}-settings-bluetooth:before { content: "\e8bb"; }
.#{$mdi-css-prefix}-settings-brightness:before { content: "\e8bd"; }
.#{$mdi-css-prefix}-settings-cell:before { content: "\e8bc"; }
.#{$mdi-css-prefix}-settings-ethernet:before { content: "\e8be"; }
.#{$mdi-css-prefix}-settings-input-antenna:before { content: "\e8bf"; }
.#{$mdi-css-prefix}-settings-input-component:before { content: "\e8c0"; }
.#{$mdi-css-prefix}-settings-input-composite:before { content: "\e8c1"; }
.#{$mdi-css-prefix}-settings-input-hdmi:before { content: "\e8c2"; }
.#{$mdi-css-prefix}-settings-input-svideo:before { content: "\e8c3"; }
.#{$mdi-css-prefix}-settings-overscan:before { content: "\e8c4"; }
.#{$mdi-css-prefix}-settings-phone:before { content: "\e8c5"; }
.#{$mdi-css-prefix}-settings-power:before { content: "\e8c6"; }
.#{$mdi-css-prefix}-settings-remote:before { content: "\e8c7"; }
.#{$mdi-css-prefix}-settings-system-daydream:before { content: "\e1c3"; }
.#{$mdi-css-prefix}-settings-voice:before { content: "\e8c8"; }
.#{$mdi-css-prefix}-share:before { content: "\e80d"; }
.#{$mdi-css-prefix}-shop:before { content: "\e8c9"; }
.#{$mdi-css-prefix}-shop-two:before { content: "\e8ca"; }
.#{$mdi-css-prefix}-shopping-basket:before { content: "\e8cb"; }
.#{$mdi-css-prefix}-shopping-cart:before { content: "\e8cc"; }
.#{$mdi-css-prefix}-short-text:before { content: "\e261"; }
.#{$mdi-css-prefix}-show-chart:before { content: "\e6e1"; }
.#{$mdi-css-prefix}-shuffle:before { content: "\e043"; }
.#{$mdi-css-prefix}-signal-cellular-4-bar:before { content: "\e1c8"; }
.#{$mdi-css-prefix}-signal-cellular-connected-no-internet-4-bar:before { content: "\e1cd"; }
.#{$mdi-css-prefix}-signal-cellular-no-sim:before { content: "\e1ce"; }
.#{$mdi-css-prefix}-signal-cellular-null:before { content: "\e1cf"; }
.#{$mdi-css-prefix}-signal-cellular-off:before { content: "\e1d0"; }
.#{$mdi-css-prefix}-signal-wifi-4-bar:before { content: "\e1d8"; }
.#{$mdi-css-prefix}-signal-wifi-4-bar-lock:before { content: "\e1d9"; }
.#{$mdi-css-prefix}-signal-wifi-off:before { content: "\e1da"; }
.#{$mdi-css-prefix}-sim-card:before { content: "\e32b"; }
.#{$mdi-css-prefix}-sim-card-alert:before { content: "\e624"; }
.#{$mdi-css-prefix}-skip-next:before { content: "\e044"; }
.#{$mdi-css-prefix}-skip-previous:before { content: "\e045"; }
.#{$mdi-css-prefix}-slideshow:before { content: "\e41b"; }
.#{$mdi-css-prefix}-slow-motion-video:before { content: "\e068"; }
.#{$mdi-css-prefix}-smartphone:before { content: "\e32c"; }
.#{$mdi-css-prefix}-smoke-free:before { content: "\eb4a"; }
.#{$mdi-css-prefix}-smoking-rooms:before { content: "\eb4b"; }
.#{$mdi-css-prefix}-sms:before { content: "\e625"; }
.#{$mdi-css-prefix}-sms-failed:before { content: "\e626"; }
.#{$mdi-css-prefix}-snooze:before { content: "\e046"; }
.#{$mdi-css-prefix}-sort:before { content: "\e164"; }
.#{$mdi-css-prefix}-sort-by-alpha:before { content: "\e053"; }
.#{$mdi-css-prefix}-spa:before { content: "\eb4c"; }
.#{$mdi-css-prefix}-space-bar:before { content: "\e256"; }
.#{$mdi-css-prefix}-speaker:before { content: "\e32d"; }
.#{$mdi-css-prefix}-speaker-group:before { content: "\e32e"; }
.#{$mdi-css-prefix}-speaker-notes:before { content: "\e8cd"; }
.#{$mdi-css-prefix}-speaker-notes-off:before { content: "\e92a"; }
.#{$mdi-css-prefix}-speaker-phone:before { content: "\e0d2"; }
.#{$mdi-css-prefix}-spellcheck:before { content: "\e8ce"; }
.#{$mdi-css-prefix}-star:before { content: "\e838"; }
.#{$mdi-css-prefix}-star-border:before { content: "\e83a"; }
.#{$mdi-css-prefix}-star-half:before { content: "\e839"; }
.#{$mdi-css-prefix}-stars:before { content: "\e8d0"; }
.#{$mdi-css-prefix}-stay-current-landscape:before { content: "\e0d3"; }
.#{$mdi-css-prefix}-stay-current-portrait:before { content: "\e0d4"; }
.#{$mdi-css-prefix}-stay-primary-landscape:before { content: "\e0d5"; }
.#{$mdi-css-prefix}-stay-primary-portrait:before { content: "\e0d6"; }
.#{$mdi-css-prefix}-stop:before { content: "\e047"; }
.#{$mdi-css-prefix}-stop-screen-share:before { content: "\e0e3"; }
.#{$mdi-css-prefix}-storage:before { content: "\e1db"; }
.#{$mdi-css-prefix}-store:before { content: "\e8d1"; }
.#{$mdi-css-prefix}-store-mall-directory:before { content: "\e563"; }
.#{$mdi-css-prefix}-straighten:before { content: "\e41c"; }
.#{$mdi-css-prefix}-streetview:before { content: "\e56e"; }
.#{$mdi-css-prefix}-strikethrough-s:before { content: "\e257"; }
.#{$mdi-css-prefix}-style:before { content: "\e41d"; }
.#{$mdi-css-prefix}-subdirectory-arrow-left:before { content: "\e5d9"; }
.#{$mdi-css-prefix}-subdirectory-arrow-right:before { content: "\e5da"; }
.#{$mdi-css-prefix}-subject:before { content: "\e8d2"; }
.#{$mdi-css-prefix}-subscriptions:before { content: "\e064"; }
.#{$mdi-css-prefix}-subtitles:before { content: "\e048"; }
.#{$mdi-css-prefix}-subway:before { content: "\e56f"; }
.#{$mdi-css-prefix}-supervisor-account:before { content: "\e8d3"; }
.#{$mdi-css-prefix}-surround-sound:before { content: "\e049"; }
.#{$mdi-css-prefix}-swap-calls:before { content: "\e0d7"; }
.#{$mdi-css-prefix}-swap-horiz:before { content: "\e8d4"; }
.#{$mdi-css-prefix}-swap-vert:before { content: "\e8d5"; }
.#{$mdi-css-prefix}-swap-vertical-circle:before { content: "\e8d6"; }
.#{$mdi-css-prefix}-switch-camera:before { content: "\e41e"; }
.#{$mdi-css-prefix}-switch-video:before { content: "\e41f"; }
.#{$mdi-css-prefix}-sync:before { content: "\e627"; }
.#{$mdi-css-prefix}-sync-disabled:before { content: "\e628"; }
.#{$mdi-css-prefix}-sync-problem:before { content: "\e629"; }
.#{$mdi-css-prefix}-system-update:before { content: "\e62a"; }
.#{$mdi-css-prefix}-system-update-alt:before { content: "\e8d7"; }
.#{$mdi-css-prefix}-tab:before { content: "\e8d8"; }
.#{$mdi-css-prefix}-tab-unselected:before { content: "\e8d9"; }
.#{$mdi-css-prefix}-tablet:before { content: "\e32f"; }
.#{$mdi-css-prefix}-tablet-android:before { content: "\e330"; }
.#{$mdi-css-prefix}-tablet-mac:before { content: "\e331"; }
.#{$mdi-css-prefix}-tag-faces:before { content: "\e420"; }
.#{$mdi-css-prefix}-tap-and-play:before { content: "\e62b"; }
.#{$mdi-css-prefix}-terrain:before { content: "\e564"; }
.#{$mdi-css-prefix}-text-fields:before { content: "\e262"; }
.#{$mdi-css-prefix}-text-format:before { content: "\e165"; }
.#{$mdi-css-prefix}-textsms:before { content: "\e0d8"; }
.#{$mdi-css-prefix}-texture:before { content: "\e421"; }
.#{$mdi-css-prefix}-theaters:before { content: "\e8da"; }
.#{$mdi-css-prefix}-thumb-down:before { content: "\e8db"; }
.#{$mdi-css-prefix}-thumb-up:before { content: "\e8dc"; }
.#{$mdi-css-prefix}-thumbs-up-down:before { content: "\e8dd"; }
.#{$mdi-css-prefix}-time-to-leave:before { content: "\e62c"; }
.#{$mdi-css-prefix}-timelapse:before { content: "\e422"; }
.#{$mdi-css-prefix}-timeline:before { content: "\e922"; }
.#{$mdi-css-prefix}-timer:before { content: "\e425"; }
.#{$mdi-css-prefix}-timer-10:before { content: "\e423"; }
.#{$mdi-css-prefix}-timer-3:before { content: "\e424"; }
.#{$mdi-css-prefix}-timer-off:before { content: "\e426"; }
.#{$mdi-css-prefix}-title:before { content: "\e264"; }
.#{$mdi-css-prefix}-toc:before { content: "\e8de"; }
.#{$mdi-css-prefix}-today:before { content: "\e8df"; }
.#{$mdi-css-prefix}-toll:before { content: "\e8e0"; }
.#{$mdi-css-prefix}-tonality:before { content: "\e427"; }
.#{$mdi-css-prefix}-touch-app:before { content: "\e913"; }
.#{$mdi-css-prefix}-toys:before { content: "\e332"; }
.#{$mdi-css-prefix}-track-changes:before { content: "\e8e1"; }
.#{$mdi-css-prefix}-traffic:before { content: "\e565"; }
.#{$mdi-css-prefix}-train:before { content: "\e570"; }
.#{$mdi-css-prefix}-tram:before { content: "\e571"; }
.#{$mdi-css-prefix}-transfer-within-a-station:before { content: "\e572"; }
.#{$mdi-css-prefix}-transform:before { content: "\e428"; }
.#{$mdi-css-prefix}-translate:before { content: "\e8e2"; }
.#{$mdi-css-prefix}-trending-down:before { content: "\e8e3"; }
.#{$mdi-css-prefix}-trending-flat:before { content: "\e8e4"; }
.#{$mdi-css-prefix}-trending-up:before { content: "\e8e5"; }
.#{$mdi-css-prefix}-tune:before { content: "\e429"; }
.#{$mdi-css-prefix}-turned-in:before { content: "\e8e6"; }
.#{$mdi-css-prefix}-turned-in-not:before { content: "\e8e7"; }
.#{$mdi-css-prefix}-tv:before { content: "\e333"; }
.#{$mdi-css-prefix}-unarchive:before { content: "\e169"; }
.#{$mdi-css-prefix}-undo:before { content: "\e166"; }
.#{$mdi-css-prefix}-unfold-less:before { content: "\e5d6"; }
.#{$mdi-css-prefix}-unfold-more:before { content: "\e5d7"; }
.#{$mdi-css-prefix}-update:before { content: "\e923"; }
.#{$mdi-css-prefix}-usb:before { content: "\e1e0"; }
.#{$mdi-css-prefix}-verified-user:before { content: "\e8e8"; }
.#{$mdi-css-prefix}-vertical-align-bottom:before { content: "\e258"; }
.#{$mdi-css-prefix}-vertical-align-center:before { content: "\e259"; }
.#{$mdi-css-prefix}-vertical-align-top:before { content: "\e25a"; }
.#{$mdi-css-prefix}-vibration:before { content: "\e62d"; }
.#{$mdi-css-prefix}-video-call:before { content: "\e070"; }
.#{$mdi-css-prefix}-video-label:before { content: "\e071"; }
.#{$mdi-css-prefix}-video-library:before { content: "\e04a"; }
.#{$mdi-css-prefix}-videocam:before { content: "\e04b"; }
.#{$mdi-css-prefix}-videocam-off:before { content: "\e04c"; }
.#{$mdi-css-prefix}-videogame-asset:before { content: "\e338"; }
.#{$mdi-css-prefix}-view-agenda:before { content: "\e8e9"; }
.#{$mdi-css-prefix}-view-array:before { content: "\e8ea"; }
.#{$mdi-css-prefix}-view-carousel:before { content: "\e8eb"; }
.#{$mdi-css-prefix}-view-column:before { content: "\e8ec"; }
.#{$mdi-css-prefix}-view-comfy:before { content: "\e42a"; }
.#{$mdi-css-prefix}-view-compact:before { content: "\e42b"; }
.#{$mdi-css-prefix}-view-day:before { content: "\e8ed"; }
.#{$mdi-css-prefix}-view-headline:before { content: "\e8ee"; }
.#{$mdi-css-prefix}-view-list:before { content: "\e8ef"; }
.#{$mdi-css-prefix}-view-module:before { content: "\e8f0"; }
.#{$mdi-css-prefix}-view-quilt:before { content: "\e8f1"; }
.#{$mdi-css-prefix}-view-stream:before { content: "\e8f2"; }
.#{$mdi-css-prefix}-view-week:before { content: "\e8f3"; }
.#{$mdi-css-prefix}-vignette:before { content: "\e435"; }
.#{$mdi-css-prefix}-visibility:before { content: "\e8f4"; }
.#{$mdi-css-prefix}-visibility-off:before { content: "\e8f5"; }
.#{$mdi-css-prefix}-voice-chat:before { content: "\e62e"; }
.#{$mdi-css-prefix}-voicemail:before { content: "\e0d9"; }
.#{$mdi-css-prefix}-volume-down:before { content: "\e04d"; }
.#{$mdi-css-prefix}-volume-mute:before { content: "\e04e"; }
.#{$mdi-css-prefix}-volume-off:before { content: "\e04f"; }
.#{$mdi-css-prefix}-volume-up:before { content: "\e050"; }
.#{$mdi-css-prefix}-vpn-key:before { content: "\e0da"; }
.#{$mdi-css-prefix}-vpn-lock:before { content: "\e62f"; }
.#{$mdi-css-prefix}-wallpaper:before { content: "\e1bc"; }
.#{$mdi-css-prefix}-warning:before { content: "\e002"; }
.#{$mdi-css-prefix}-watch:before { content: "\e334"; }
.#{$mdi-css-prefix}-watch-later:before { content: "\e924"; }
.#{$mdi-css-prefix}-wb-auto:before { content: "\e42c"; }
.#{$mdi-css-prefix}-wb-cloudy:before { content: "\e42d"; }
.#{$mdi-css-prefix}-wb-incandescent:before { content: "\e42e"; }
.#{$mdi-css-prefix}-wb-iridescent:before { content: "\e436"; }
.#{$mdi-css-prefix}-wb-sunny:before { content: "\e430"; }
.#{$mdi-css-prefix}-wc:before { content: "\e63d"; }
.#{$mdi-css-prefix}-web:before { content: "\e051"; }
.#{$mdi-css-prefix}-web-asset:before { content: "\e069"; }
.#{$mdi-css-prefix}-weekend:before { content: "\e16b"; }
.#{$mdi-css-prefix}-whatshot:before { content: "\e80e"; }
.#{$mdi-css-prefix}-widgets:before { content: "\e1bd"; }
.#{$mdi-css-prefix}-wifi:before { content: "\e63e"; }
.#{$mdi-css-prefix}-wifi-lock:before { content: "\e1e1"; }
.#{$mdi-css-prefix}-wifi-tethering:before { content: "\e1e2"; }
.#{$mdi-css-prefix}-work:before { content: "\e8f9"; }
.#{$mdi-css-prefix}-wrap-text:before { content: "\e25b"; }
.#{$mdi-css-prefix}-youtube-searched-for:before { content: "\e8fa"; }
.#{$mdi-css-prefix}-zoom-in:before { content: "\e8ff"; }
.#{$mdi-css-prefix}-zoom-out:before { content: "\e900"; }
.#{$mdi-css-prefix}-zoom-out-map:before { content: "\e56b"; }
