

/*===== All Product Style 26 =====*/

.product-style-26{
    background-color: $white-variant;
    position: relative;

    @media #{$xs}{        
        display: block;
    }
    & .product-image{
        position: relative;

        & img{
            width: 100%;
        }
    }

    & .product-content{
        position: absolute;
        width: 50%;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 20px 20px 25px;
        background-color: rgba($dark-color, 0.74);

        @media #{$lg}{
            padding: 15px 15px 20px;
        }
        @media #{$md}{
            padding: 15px 15px 20px;
            width: 70%;
        }
        @media #{$xs}{
            width: 70%;
            padding: 15px 10px 20px;
        }
        @media #{$sm}{
            width: 50%;
            padding: 15px 20px 20px;
        }

        & .title{
            & a{
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $white-color;
                @include transition(0.3s);

                @media #{$lg}{
                    line-height: 22px;
                }
                @media #{$lg}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 20px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }

                &:hover{
                    color: $secondary-1-color;
                }
            }
        }
        & p{
            color: rgba($white-color, 0.74);
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            margin-top: 8px;
        }

        & .main-btn{
            margin-top: 16px;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: capitalize;
        }        
    }
}
















