

/*=====  Search Style 02 =====*/


.search-style-2{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    & .search-select{
        & .nice-select{
            float: none;
            border: 1px solid $gray-4;
            background-color: $gray-4;
            height: 40px;
            line-height: 40px;
            border-right-color: $gray-3;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 0 10px;
            padding-right: 28px;
            
            &:focus{
                border-color: $primary-color;
            }
            
            &::after{
                width: 8px;
                height: 8px;
                border-color: $primary-color;
            }
            
            & .current{
                line-height: 40px;
                font-weight: 500;
                color: $dark-variant;
            }
            & .list{
                @include box-shadow (2px 4px 8px rgba($dark-color, 0.25));
                
                & .option {}
            }
        }
    }
    & .search-input{
        width: 100%;

        & input{
            width: 100%;
            height: 40px;
            border: 1px solid $gray-4;
            background-color: $gray-4;
            color: $dark-color;
            border-radius: 0;
            padding: 0 15px;
            @include transition(0.3s);
                                
            &:focus{
                border-color: $primary-color;
            }
        }
    }
    & .search-btn{
        & button{
            background-color: $primary-color;
            color: $white-color;
            width: 40px;
            height: 40px;
            padding: 0;
            font-size: 20px;
            border: 0;
            border-radius: 4px;
        }
    }
    
    
    &.search-dark{
        & .nice-select{
            border: 1px solid transparent;
            background-color: rgba($white-color, 0.24);
            border-right-color: rgba($white-color, 0.24);

            &:focus{
                border-color: $secondary-2-color;
            }

            &::after{
                border-color: $white-color;
            }

            & .current{
                color: $white-variant;
            }
            
            & .list{
                @include box-shadow (2px 4px 8px rgba($dark-color, 0.25));

                & .option {
                    background-color: $primary-color;
                    color: $white-color;

                    &.selected {
                        background-color: $primary-variant;
                    }

                    &:hover{
                        background-color: $primary-variant !important;
                    }
                }

                &:hover{                
                    & .option:not(:hover){
                        background-color: $primary-color !important;
                    }
                }
            }
        }

        & input{
            border: 1px solid transparent;
            background-color: rgba($white-color, 0.24);
            color: $white-light;
            
            @include placeholder{
                opacity: 0.6;
                color: $white-light;
            }

            &:focus{
                border-color: $secondary-2-color;
            }
        }
        & button{
            background-color: $secondary-2-color;
            color: $white-color;
        }
    }
}









