

/*=====  Search Style 04 =====*/


.search-style-4{
    position: relative;
    
    & input{
        width: 100%;
        height: 40px;
        border: 1px solid $gray-3;
        background-color: $white-color;
        color: $dark-color;
        border-radius: 4px;
        padding: 0 15px;
        @include transition(0.3s);
        
        &:focus{
            border-color: $primary-color;
        }
    }
    & button{
        background-color: $primary-color;
        color: $white-color;
        width: 40px;
        height: 40px;
        padding: 0;
        position: absolute;
        right: 0;
        right: 0;
        font-size: 20px;
        border: 0;
        border-radius: 4px;
    }
    
    &.search-dark{
        & input{
            border: 1px solid rgba($white-color, 0.24);
            background-color: transparent;
            color: $white-color;
            @include placeholder{
                opacity: 0.6;
                color: $white-color;
            }
            &:focus{
                border-color: $secondary-2-color;
            }
        }
        & button{
            background-color: $secondary-2-color;
            color: $white-color;
        }
    }
}









