

/*=====  Search Style 03 =====*/


.search-style-3{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-right: 40px;
    
    @media #{$xs}{
        display: block;
        padding-right: 0;
    }
    @media #{$sm}{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding-right: 40px;
    }

    .select-position {
        position: relative;

        select {
            height: 40px;
            padding-right: 30px;
        }
      
        &::after {
            border-bottom: 2px solid $dark-color;
            border-right: 2px solid $dark-color;
            content: '';
            display: block;
            height: 8px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 15px;
            top: 50%;
            -webkit-transform-origin: 66% 66%;
            -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 8px;
        }
    }
    
    & input{
        width: 100%;
        height: 40px;
        border: 1px solid $gray-4;
        background-color: $gray-4;
        color: $dark-color;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0 15px;
        @include transition(0.3s);
                
        @media #{$xs}{
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
        }
        
        @media #{$sm}{
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
        }
        
        &:focus{
            border-color: $primary-color;
        }
    }
    & button{
        background-color: $primary-color;
        color: $white-color;
        width: 40px;
        height: 40px;
        padding: 0;
        position: absolute;
        right: 0;
        right: 0;
        font-size: 20px;
        border: 0;
        border-radius: 4px;
        
        @media #{$xs}{
            position: relative;
            width: 100%;
        }
        @media #{$sm}{
            position: absolute;
            width: 40px;
        }
    }
    
    &.search-dark{

        .select-position {

            &::after {
                border-color: $white-color;
            }
        }

        & input{
            border: 1px solid transparent;
            background-color: rgba($white-color, 0.24);
            color: $white-light;
            @include placeholder{
                opacity: 0.6;
                color: $white-light;
            }

            &:focus{
                border-color: $secondary-2-color;
            }
        }
        & button{
            background-color: $secondary-2-color;
            color: $white-color;
        }
    }
}









